/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

body {
  background-color: skyblue;
}

#wrapper {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

/* main-header */
#top {
  padding-top: 75px;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
}

img {
  width: 1260px;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

#header-top-description {
  padding-left: 5px;
  padding-right: 5px;
}

#main-header {
  color: #FFF;
  text-align: center;
}

#main-header h1 {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

#main-header p {
  margin-bottom: 35px;
}

#header-bottom-description {
  margin-bottom: 80px;
}

#header-bottom-description span {
  padding-left: 15px;
  padding-right: 15px;
}

#lines-left, #lines-right {
  padding-bottom: 2px;
  display: inline-block;
}

#lines-left hr, #lines-right hr {
  width: 100px;
  margin: 2px 0 0;
  border-width: 1px;
}

#check-out {
  margin-bottom: 120px;
  padding: 15px 30px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #969797;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
}

#check-out:hover {
  background-color: #FFF;
  color: #969797;
}

#main-nav > ul {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF;
}

#main-nav > ul li + li {
  margin-left: 70px;
}

#main-nav > ul li {
  display: inline-block;
}

#main-nav > ul li a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #7f8c8d;
  font-weight: bold;
}

#main-nav > ul li #current-page, #main-nav > ul li a:hover {
  color: #2980b9;
}

#main-nav > ul #wds {
  color: #000;
  font-weight: bold;
  font-size: 28px;
  vertical-align: middle;
}

#main-nav > ul #portfolio {
  display: none;
}

#content {
  text-align: center;
}

/* info-box */
#info-box {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ecf0f1;
  /* put background image instead color here */
}

h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

.separator {
  width: 150px;
  margin-bottom: 30px;
  border-top: 1px solid #a5a8a9;
}

.description {
  margin-bottom: 80px;
  padding-left: 210px;
  padding-right: 210px;
  color: #606060;
  line-height: 21px;
}

#info li + li {
  margin-left: 60px;
}

#info li {
  display: inline-block;
}

#info li a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

#info li a:hover p {
  color: #2980b9;
}

#info li a i {
  width: 32px;
  height: 32px;
  margin-bottom: 28px;
  display: inline-block;
  transition: background-image 0.2s;
  -webkit-transition: background-image 0.2s;
  -moz-transition: background-image 0.2s;
  -o-transition: background-image 0.2s;
}

#info li a #map {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

#info li a p {
  font-weight: bold;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}

#chart {
  background-image: url(../img/info-box/chart.png);
}

#location-pin {
  background-image: url(../img/info-box/location-pin.png);
}

#map {
  background-image: url(../img/info-box/map.png);
}

#list {
  background-image: url(../img/info-box/list.png);
}

#user {
  background-image: url(../img/info-box/user.png);
}

#chart-wrapper:hover > #chart {
  background-image: url(../img/info-box/chart-hover.png);
}

#location-pin-wrapper:hover > #location-pin {
  background-image: url(../img/info-box/location-pin-hover.png);
}

#map-wrapper:hover > #map {
  background-image: url(../img/info-box/map-hover.png);
}

#list-wrapper:hover > #list {
  background-image: url(../img/info-box/list-hover.png);
}

#user-wrapper:hover > #user {
  background-image: url(../img/info-box/user-hover.png);
}

/* clients */
#clients {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #FFF;
}

#clients-slider {
  position: relative;
}

#clients-slider ul {
  display: inline-block;
  width: 900px;
  height: 74px;
  overflow: hidden;
}

#clients-slider li {
  vertical-align: middle;
  display: inline-block;
}

#clients-slider li + li {
  margin-left: 50px;
}

#clients-slider i {
  height: 71px;
  display: inline-block;
}

#clients-slider #arrow-left, #clients-slider #arrow-right {
  height: 23px;
  top: 25px;
  position: absolute;
}

#arrow-left {
  width: 14px;
  left: 130px;
  background-image: url(../img/clients/arrow-left.png);
}

#arrow-left:hover {
  background-image: url(../img/clients/arrow-left-hover.png);
}

#arrow-right {
  width: 14px;
  right: 130px;
  background-image: url(../img/clients/arrow-right.png);
}

#arrow-right:hover {
  background-image: url(../img/clients/arrow-right-hover.png);
}

#mountains-solution {
  width: 130px;
  background-image: url(../img/clients/mountains-solution.png);
}

#bow-tie {
  width: 95px;
  background-image: url(../img/clients/bow-tie.png);
}

#beautiful-spiral {
  width: 214px;
  background-image: url(../img/clients/beautiful-spiral.png);
}

#circle-me {
  width: 98px;
  background-image: url(../img/clients/circle-me.png);
}

#crossing-lines {
  width: 124px;
  background-image: url(../img/clients/crossing-lines.png);
}

/* main-footer */
#main-footer {
  padding: 15px 150px;
  color: #777;
  background-color: #000;
  line-height: 16px;
  overflow-y: hidden;
}

#main-footer li {
  display: inline-block;
}

#main-footer li + li {
  margin-left: 10px;
}

#main-footer a {
  width: 22px;
  height: 18px;
  display: inline-block;
}

#main-footer a:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}

#main-footer p {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

#main-footer p:first-child {
  margin-bottom: 5px;
}

#twitter {
  background-image: url(../img/social-media/twitter.png);
}

#facebook {
  background-image: url(../img/social-media/facebook.png);
}

#google-plus {
  background-image: url(../img/social-media/google-plus.png);
}

#pinterest {
  background-image: url(../img/social-media/pinterest.png);
}

#rss {
  background-image: url(../img/social-media/rss.png);
}

#social-media {
  margin-top: 8px;
  float: left;
}

#company-name-and-rights {
  float: right;
}

/* 1300px */
@media (max-width: 1300px) {
  #wrapper, #top > img {
    width: 960px;
  }
  #main-nav > ul > li + li {
    margin-left: 50px;
  }
  #content header, .description {
    padding-left: 120px;
    padding-right: 120px;
  }
  #clients-slider ul {
    width: 750px;
  }
  #arrow-left {
    left: 60px;
  }
  #arrow-right {
    right: 60px;
  }
}

/* 1000px */
@media (max-width: 1000px) {
  #wrapper {
    width: 660px;
  }
  #top {
    padding-top: 50px;
  }
  #top #check-out {
    margin-bottom: 80px;
  }
  #top img {
    width: 660px;
  }
  h1 {
    line-height: 50px;
  }
  #main-nav ul {
    padding: 30px 25px 5px;
  }
  #main-nav ul #portfolio {
    display: inline-block;
  }
  #main-nav ul li {
    margin-bottom: 25px;
  }
  #main-nav ul li:nth-child(3) {
    display: none;
  }
  #main-nav ul #wds {
    vertical-align: inherit;
  }
  #main-nav ul #blog {
    margin-left: 0;
  }
  #content header, .description {
    padding-left: 60px;
    padding-right: 60px;
  }
  .description {
    margin-bottom: 60px;
  }
  #content h2 {
    line-height: 50px;
  }
  #info-box {
    padding-top: 40px;
  }
  #clients {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  #info li {
    margin-bottom: 35px;
  }
  #info #user-wrapper-parent {
    margin-left: 0;
    margin-bottom: 0;
  }
  #clients-slider ul {
    width: 550px;
  }
  #arrow-left {
    left: 15px;
  }
  #arrow-right {
    right: 15px;
  }
  #main-footer {
    padding-left: 35px;
    padding-right: 35px;
  }
}

/* 700px */
@media (max-width: 700px) {
  #wrapper {
    width: 400px;
  }
  #top > img {
    width: 400px;
  }
  #lines-left hr, #lines-right hr {
    width: 400px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  hr:first-child {
    display: none;
  }
  #lines-left {
    padding-bottom: 10px;
  }
  #lines-right {
    padding-top: 10px;
  }
  #header-bottom-description {
    margin-bottom: 40px;
  }
  #top #check-out {
    margin-bottom: 55px;
  }
  #main-header > #main-nav > ul > li {
    margin-left: 40px;
  }
  #main-nav > ul > li:nth-child(3) {
    display: inline-block;
  }
  #main-nav > ul > #portfolio {
    display: none;
  }
  #main-header > #main-nav > ul > li:first-child {
    margin-left: 0;
  }
  #main-header > #main-nav > ul > #wds {
    margin-left: 0;
    display: block;
  }
  #main-nav > ul > #portfolio + li {
    margin-left: 0;
  }
  #info > ul {
    padding-left: 50px;
    padding-right: 50px;
  }
  #info > ul > li:nth-child(3) {
    margin-left: 0;
  }
  #clients-slider ul {
    width: 250px;
  }
  #arrow-left {
    left: 30px;
  }
  #arrow-right {
    right: 30px;
  }
  #content h2 {
    font-size: 30px;
    line-height: 35px;
  }
  #main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #social-media {
    margin-top: 0;
    float: none;
  }
  #social-media nav {
    text-align: center;
  }
  #social-media nav ul {
    display: inline-block;
  }
  #company-name-and-rights {
    text-align: center;
    margin-top: 15px;
    float: none;
  }
  #company-name-and-rights p {
    text-align: center;
  }
}

/* 430px */
@media (min-width: 300px) and (max-width: 430px) {
  #wrapper, #top > img {
    width: 100%;
  }
  #top {
    padding-left: 2%;
    padding-right: 2%;
  }
  #header-bottom-description span {
    display: block;
  }
  #lines-left hr, #lines-right hr {
    width: 270px;
  }
  #main-header > #main-nav > ul > li {
    display: block;
    margin-left: 0;
  }
  #main-header > #main-nav > ul > li a {
    font-size: 16px;
  }
  #main-header > #main-nav > ul > li:nth-child(5) {
    display: none;
  }
  #content header, .description {
    padding-left: 35px;
    padding-right: 35px;
  }
  #info li {
    display: block;
  }
  #info li + li {
    margin-left: 0;
  }
  #arrow-left {
    left: 15px;
  }
  #arrow-right {
    right: 15px;
  }
  #main-footer p:first-child {
    margin-bottom: 10px;
  }
}
