doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Видео
    link(rel='stylesheet', href='styles/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='ГОСПОД ИИСУС ХРИСТОС е СИНЪТ НА БОГ и Нашият СПАСИТЕЛ.')
    meta(property='og:title', content='ГОСПОД ИИСУС ХРИСТОС е СИНЪТ НА БОГ и Нашият СПАСИТЕЛ.')
    meta(property='og:site_name', content='LORD JESUS CHRIST')
    meta(property='og:url', content='http://lord-jesus.tk/index.html')
    meta(property='og:description', content='Клипове и проповеди свързани с Нашия ВСЕМОГЪЩ ГОСПОД БОГ!!! Слава на ИМЕТО МУ отвека и довека! Амин.')
    meta(property='og:image', content='http://www.dar.org.ua/wp-content/uploads/2014/12/bibliya1.jpg')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='scripts/respond.min.js')
      script(type='text/javascript', src='scripts/rem.min.js')
    //if IE
      style.
        body #wrapper #main-content-wrapper #main-content article a {
        background-color: #FFF;
        }
  body
    #wrapper
      header#main-header
        nav#main-nav
          ul
            li
              a.red.btn.the-holy-bible(href='http://bible.netbg.com/bible/paralel/bible.php?b=matthew&c=1&r=&v1=1&v2=25&vt=1&c5=1&st=&sa=1&rt=2&l=1&cm=2', target='_blank') БИБЛИЯ
            li
              a#current-page.blue.btn.videos(href='index.html') Видео
            li
              a.green.btn.movies(href='movies-bg.html') Филми
            li
              a.orange.btn.music(href='music-bg.html') Музика
            li
              a.purple.btn.music(href='the-elite-bg.html') Елитът
        #languages-and-searching
          #languages
            a#bulgarian.current-language(title='Bulgarian', href='index.html')
            a#english(title='English', href='index-en.html')
          #search-field
            input#search(type='text')
            i#search-image(title='търси за дадено видео')
            .clear
          .clear  
      #main-content-wrapper
        #main-content.videos
          article(title='Всичко което имам е Христос')
            header
              .header-container
                h2 Всичко което имам е Христос
            img(src='img/videos/Всичко-което-имам-е-Христос.jpg', alt='Християнин, който бута на земята лист и химикалка, за който лист, войнците, които са около него, са му казали да го подпише и по този начин да се извини за това, че проповядва в ИМЕТО на ГОСПОД ИИСУС ХРИСТОС в техния град, и ако го направи ще бъде оставен жив, но ако не се подпише ще бъде осъден на смърт.')
            span.duration 05:22
            a(href='https://www.youtube.com/watch?v=n7T3vlKkAHg', target='_blank')
            p.new Ново
          article(title='Вярата опазих')
            header
              .header-container
                h2 Вярата опазих
            img(src='img/videos/Вярата-опазих.jpg', alt='Апостол Павел заобиколен от римски войници преди да бъде обезглавен.')
            span.duration 01:48
            a(href='https://www.youtube.com/watch?v=xgqO_hiRPqw', target='_blank')
            p.new Ново
          article(title='Late One Night')
            header
              .header-container
                h2 Late One Night
            img(src='img/videos/Late-One-Night.jpg', alt='Трима от главните герои един до друг.')
            span.duration 33:28
            a(href='https://www.youtube.com/watch?v=GMECWB_nhdo', target='_blank')
            p.new Ново
          article(title='Бягство от ада - Джон Рамирес - Бивш сатанист')
            header
              .header-container
                h2 Бягство от ада - Джон Рамирес - Бивш сатанист
            img(src='img/videos/Бягство-от-ада-Джон-Рамирес-Бивш-сатанист.jpg', alt='Джон Рамирес разказва')
            span.duration 34:50
            a(href='https://www.youtube.com/watch?v=a6_DClimt9g', target='_blank')
            p.new Ново
          article(title='Антон Пенев (проповед 11.10.2012)')
            header
              .header-container
                h2 Антон Пенев (проповед 11.10.2012)
            img(src='img/videos/Антон-Пенев-проповед-11-10-2012.jpg', alt='Антон Пенев проповядва')
            span.duration 01:08:49
            a(href='https://vimeo.com/51282976', target='_blank')
            p.new Ново
          article(title='Християни от Китай получават своите първи Библии')
            header
              .header-container
                h2 Християни от Китай получават своите първи Библии
            img(src='img/videos/Християни-от-Китай-получават-своите-първи-Библии.jpg', alt='Християни получаващи своите първи Библии')
            span.duration 01:07
            a(href='https://www.youtube.com/watch?v=INlF1-Pgf4Y', target='_blank')
            p.new Ново
          article(title='Как видео игрите въздействат над ума')
            header
              .header-container
                h2 Как видео игрите въздействат над ума
            img(src='img/videos/Как-видео-игрите-въздействат-над-ума.jpg', alt='Пауло Джуниор проповядва')
            span.duration 03:56
            a(href='https://www.youtube.com/watch?v=k4xEwnWm4H4', target='_blank')
            p.new Ново
          article(title='Да се родиш отново')
            header
              .header-container
                h2 Да се родиш отново
            img(src='img/videos/да-се-родиш-отново.jpg', alt='Пауло Джуниор проповядва')
            span.duration 16:54
            a(href='https://www.youtube.com/watch?v=RE_Id2BH5ZM', target='_blank')
            p.new Ново
          article(title='Да Обичаш Бог - Най-голямото ти задължение')
            header
              .header-container
                h2 Да Обичаш Бог - Най-голямото ти задължение
            img(src='img/videos/да-обичаш-Бог-най-голямото-ти-задължение.jpg', alt='Пауло Джуниор проповядва')
            span.duration 10:59
            a(href='https://www.youtube.com/watch?v=48JSpsqKzKg', target='_blank')
            p.new Ново
          article(title='1/3 Как нашите страдания възхваляват Бога')
            header
              .header-container
                h2 1/3 Как нашите страдания възхваляват Бога
            img(src='img/videos/как-нашите-страдания-възхваляват-Бога.jpg', alt='Джон Пайпър проповядва')
            span.duration 07:57
            a(href='https://www.youtube.com/watch?v=bOb5qHkDY9k', target='_blank')
            p.new Ново
          article(title='2/3 Как нашите страдания възхваляват Бога')
            header
              .header-container
                h2 2/3 Как нашите страдания възхваляват Бога
            img(src='img/videos/как-нашите-страдания-възхваляват-Бога.jpg', alt='Джон Пайпър проповядва')
            span.duration 14:45
            a(href='https://www.youtube.com/watch?v=R1QcPCohYtE', target='_blank')
            p.new Ново
          article(title='3/3 Как нашите страдания възхваляват Бога')
            header
              .header-container
                h2 3/3 Как нашите страдания възхваляват Бога
            img(src='img/videos/как-нашите-страдания-възхваляват-Бога.jpg', alt='Джон Пайпър проповядва')
            span.duration 14:54
            a(href='https://www.youtube.com/watch?v=ahg1OKI5iaI', target='_blank')
            p.new Ново
          article(title='Животът е кратък')
            header
              .header-container
                h2 Животът е кратък
            img(src='img-en/videos/what-are-you-living-for.jpg', alt='Животът е кратък')
            span.duration 03:38
            a(href='https://www.youtube.com/watch?v=byv8cAY6Ff4', target='_blank')
          article(title='От атеист към Християнин')
            header
              .header-container
                h2 От атеист към Християнин
            img(src='img-en/videos/David-Wood-is-talking.jpg', alt='David Wood говори и гледа към обектива.')
            span.duration 33:44
            a(href='https://www.youtube.com/watch?v=pNLd7zAzV-Q', target='_blank')
          article(title='Божията Любов')
            header
              .header-container
                h2 Божията Любов
            img(src='img-en/videos/The-love-of-GOD.jpg', alt="Момче, което плаче и пита 'Защо', защото един камък го удари по главата.")
            span.duration 00:49
            a(href='https://www.youtube.com/watch?v=JgKaz8Ku_pA', target='_blank')
          article(title='Момчетата за скромността на момичетата (или естествеността)')
            header
              .header-container
                h2 Момчетата за скромността на момичетата
            img(src='img-en/videos/Thoughts-of-the-men-on-modesty.jpg', alt='Жена която се моли и гледа към небето. Зад нея на фон е небето.')
            span.duration 08:36
            a(href='https://www.youtube.com/watch?v=OYvgtm2hKfg', target='_blank')
          article(title='Джон Пайпър: Умът и любовта към Бога (1)')
            header
              .header-container
                h2 Джон Пайпър: Умът и любовта към Бога (1)
            img(src='img-en/videos/John-Piper.jpg', alt='Джон Пайпър проповядва.')
            span.duration 09:45
            a(href='https://www.youtube.com/watch?v=GiO2clXqofg', target='_blank')
          article(title='Джон Пайпър: Умът и любовта към Бога (2)')
            header
              .header-container
                h2 Джон Пайпър: Умът и любовта към Бога (2)
            img(src='img-en/videos/John-Piper.jpg', alt='Джон Пайпър проповядва.')
            span.duration 09:45
            a(href='https://www.youtube.com/watch?v=DsUwM4viL-4', target='_blank')
          article(title='Джон Пайпър: Умът и любовта към Бога (3)')
            header
              .header-container
                h2 Джон Пайпър: Умът и любовта към Бога (3)
            img(src='img-en/videos/John-Piper.jpg', alt='Джон Пайпър проповядва.')
            span.duration 09:03
            a(href='https://www.youtube.com/watch?v=R6OZE5tr3AY', target='_blank')
          article(title='Джон Пайпър: Умът и любовта към Бога (4)')
            header
              .header-container
                h2 Джон Пайпър: Умът и любовта към Бога (4)
            img(src='img-en/videos/John-Piper.jpg', alt='Джон Пайпър проповядва.')
            span.duration 09:45
            a(href='https://www.youtube.com/watch?v=h8QL_UlTDgo', target='_blank')
          article(title='Джон Пайпър: Умът и любовта към Бога (5)')
            header
              .header-container
                h2 Джон Пайпър: Умът и любовта към Бога (5)
            img(src='img-en/videos/John-Piper.jpg', alt='Джон Пайпър проповядва.')
            span.duration 09:00
            a(href='https://www.youtube.com/watch?v=Uw7aIWgDUD0', target='_blank')
          article(title='Джон Пайпър: Умът и любовта към Бога (6)')
            header
              .header-container
                h2 Джон Пайпър: Умът и любовта към Бога (6)
            img(src='img-en/videos/John-Piper.jpg', alt='Джон Пайпър проповядва.')
            span.duration 05:00
            a(href='https://www.youtube.com/watch?v=LGYNQ6AQwG4', target='_blank')
          article(title='Джон Пайпър: Умът и любовта към Бога (7)')
            header
              .header-container
                h2 Джон Пайпър: Умът и любовта към Бога (7)
            img(src='img-en/videos/John-Piper.jpg', alt='Джон Пайпър проповядва.')
            span.duration 07:02
            a(href='https://www.youtube.com/watch?v=9xfu6ZDyZWg', target='_blank')
          article(title='Джон Пайпър и Благовестието на просперитета')
            header
              .header-container
                h2 Джон Пайпър и Благовестието на просперитета
            img(src='img-en/videos/John-Piper-and-the-Prosperity-Gospel.jpg', alt="Тълпа от хора. Над тях надпис 'това не е евангелието', като 'евангелието' е с различен (червен) цвят.")
            span.duration 02:49
            a(href='https://www.youtube.com/watch?v=ZdqQgF33Zow', target='_blank')
          article(title='ПРОПОВЕДТА на КРЪСТА - Част 2')
            header
              .header-container
                h2 ПРОПОВЕДТА на КРЪСТА - Част 2
            img(src='img/videos/Проповедта-на-кръста-2.jpg', alt='Сцена изобразяваща Нашия ГОСПОД ИИСУС ХРИСТОС носещ кръста.')
            span.duration 53:36
            a(href='https://www.youtube.com/watch?v=7fTokHwdJf8', target='_blank')
          article(title='Франсис Чан - Преосмисляйки Църквата')
            header
              .header-container
                h2 Франсис Чан - Преосмисляйки Църквата
            img(src='img-en/videos/Francis-Chan-Rethinking-Church.jpg', alt='Франсис Чан, говорейки с Библията в ръце.')
            span.duration 11:14
            a(href='https://www.youtube.com/watch?v=e-T_0JXb-yk', target='_blank')
          article(title='Безгранична Любов Баща Жертва Сина Си!')
            header
              .header-container
                h2 Безгранична Любов Баща Жертва Сина Си!
            img(src='img-en/videos/GOD-sacrificed-HIS-SON-for-us.jpg', alt='Баща, който плаче от тъга, заради това, че пожертва своя син за да другите се спасят.')
            span.duration 06:30
            a(href='https://www.youtube.com/watch?v=W3MhTDXOYAo', target='_blank')
          article(title='Грубият Христов кръст - Алекс Тинсън')
            header
              .header-container
                h2 Грубият Христов кръст - Алекс Тинсън
            img(src='img/videos/Грубият-Христов-кръст-Алекс-Тинсън.jpg', alt='Алекс Тинсън проповядва.')
            span.duration 01:06:37
            a(href='http://www.blagovestie.com/videosermonsbg.php?id=685', target='_blank')
          article(title='Антон Пенев (проповед 02.06.2012)')
            header
              .header-container
                h2 Антон Пенев (проповед 02.06.2012)
            img(src='img/videos/Проповед-Антон-Пенев-02-06-2012.jpg', alt='Антон Пенев проповядва.')
            span.duration 55:30
            a(href='https://vimeo.com/43300345', target='_blank')
          article(title='Сътворение или Еволюция - дебат')
            header
              .header-container
                h2 Сътворение или Еволюция - дебат
            img(src='img-en/movies/Kent-Hovind-shows-three-fingers-while-talking.jpg', alt='Кент Ховинд показва три пръста, докато говори.')
            span.duration 02:27:02
            a(href='https://www.youtube.com/watch?v=YAzNbAHvCww', target='_blank')
          article(title='Сведенuя за съществуването на Исус извън Библuята')
            header
              .header-container
                h2 Сведенuя за съществуването на Исус извън Библuята
            img(src='img/movies/Доказателства-за-ГОСПОД-ИИСУС-ХРИСТОС.jpg', alt='Сведенuя за съществуването на Исус извън Библuята')
            span.duration 35:44
            a(href='https://www.youtube.com/watch?v=Nv78ZT98NRg', target='_blank')
          article(title='Възрастта на Земята - Кент Ховинд')
            header
              .header-container
                h2 Възрастта на Земята - Кент Ховинд (семинар 1)
            img(src='img/movies/Възрастта-на-Земята-Кент-Ховинд.jpg', alt='Възрастта на Земята - Кент Ховинд')
            span.duration 02:01:10
            a(href='https://www.youtube.com/watch?v=efF39acfioE', target='_blank')
          article(title='Едемската градина - Кент Ховинд')
            header
              .header-container
                h2 Едемската градина - Кент Ховинд (семинар 2)
            img(src='img/movies/Едемската-градина-Кент-Ховинд.jpg', alt='Едемската градина. Семинар на Кент Ховинд')
            span.duration 01:57:49
            a(href='https://www.youtube.com/watch?v=JESn6AEBjX0', target='_blank')
          article(title='Библията и Динозаврите - Кент Ховинд')
            header
              .header-container
                h2 Библията и Динозаврите - Кент Ховинд (семинар 3)
            img(src='img/movies/Библията-и-Динозаврите-Кент-Ховинд.jpg', alt='Библията и Динозаврите - Кент Ховинд')
            span.duration 02:20:41
            a(href='https://www.youtube.com/watch?v=qQqPhDhJ0LM', target='_blank')
          article(title='Лъжите в учебниците - Кент Ховинд')
            header
              .header-container
                h2 Лъжите в учебниците - Кент Ховинд (семинар 4)
            img(src='img/movies/Лъжите-в-учебниците-Кент-Ховинд.jpg', alt='Лъжите в учебниците - Кент Ховинд')
            span.duration 02:47:47
            a(href='https://www.youtube.com/watch?v=CR_gmtYOK5s', target='_blank')
          article(title='Колко Велик е нашият Бог')
            header
              .header-container
                h2 Колко Велик е нашият Бог
            img(src='img/movies/Колко-Велик-е-нашият-Бог.jpg', alt='Колко Велик е нашият Бог')
            span.duration 40:55
            a(href='https://www.youtube.com/watch?v=aC2YhNnVz3Q', target='_blank')
          article(title='Просто един човек?')
            header
              .header-container
                h2 Просто един човек?
            img(src='img/movies/Просто-един-човек-ли.jpg', alt='Просто един човек?')
            span.duration 58:35
            a(href='https://www.youtube.com/watch?v=wStPdppUTiE', target='_blank')
          article(title='Лопатата разкрива истината')
            header
              .header-container
                h2 Лопатата разкрива истината
            img(src='img/movies/Лопатата-разкрива-истината.jpg', alt='Лопатата разкрива истината')
            span.duration 01:21:47
            a(href='https://www.youtube.com/watch?v=srCky5G42Eo', target='_blank')
          article(title='Светът около нас')
            header
              .header-container
                h2 Светът около нас
            img(src='img/movies/Светът-около-нас.jpg', alt='Светът около нас')
            span.duration 31:26
            a(href='https://www.youtube.com/watch?v=FFAVsfb6gZI', target='_blank')
          article(title='Това е за теб!!!')
            header
              .header-container
                h2 Това е за теб!!!
            img(src='img/videos/this-is-for-you.jpg', alt='Това е за теб!!! (видеоклип)')
            span.duration 05:59
            a(href='http://vbox7.com/play:db5437c7', target='_blank')
          article(title='Бог толкова възлюби света...')
            header
              .header-container
                h2 Бог толкова възлюби света...
            img(src='img/videos/защото-БОГ-толкова-възлюби-света.jpg', alt='Бог толкова възлюби света (BG) / For God So Loved the World (проповед)')
            span.duration 06:26
            a(href='https://www.youtube.com/watch?v=DxEM5GLaFQI', target='_blank')
          article(title='И ГО РАЗПЪНАХА НА КРЪСТА ...')
            header
              .header-container
                h2 И ГО РАЗПЪНАХА НА КРЪСТА ...
            img(src='img/videos/И-ГО-РАЗПЪНАХА-НА-КРЪСТА.jpg', alt='И ГО РАЗПЪНАХА НА КРЪСТА ... - проповед')
            span.duration 01:00:27
            a(href='https://www.youtube.com/watch?v=dV3VXvMWVuw', target='_blank')
          article(title='Грехът')
            header
              .header-container
                h2 Грехът
            img(src='img/videos/Грехът.jpg', alt='Грехът - проповед')
            span.duration 09:40
            a(href='https://www.youtube.com/watch?v=xSvOc7cPQW8', target='_blank')
          article(title='От къде знаеш, че си спасен - проповед на Пол Уошър')
            header
              .header-container
                h2 От къде знаеш, че си спасен?
            img(src='img/videos/От-къде-знаеш-че-си-спасен.jpg', alt='От къде знаеш, че си спасен (проповед на Пол Уошър)')
            span.duration 58:20
            a(href='https://www.youtube.com/watch?v=DlskOF9O2FM', target='_blank')
          article(title='Съществува ли Бог?')
            header
              .header-container
                h2 Съществува ли Бог?
            img(src='img/videos/Съществува-ли-БОГ.jpg', alt='Съществува ли БОГ ? (видеоклип)')
            span.duration 03:27
            a(href='https://www.youtube.com/watch?v=46VRuLcit4g', target='_blank')
          article.long-header(title='Ако Бог е добър и любящ, защо има зло?')
            header
              .header-container
                h2 Ако Бог е добър и любящ, защо има зло?
            img(src='img/videos/Ако-БОГ-е-добър.jpg', alt='Ако Бог е добър и любящ, защо има зло? (видеоклип)')
            span.duration 05:08
            a(href='https://www.youtube.com/watch?v=vh1XXSuOSpM', target='_blank')
          article(title='Свидетелството На Ники Круз')
            header
              .header-container
                h2 Свидетелството На Ники Круз
            img(src='img/videos/Свидетелството-На-Ники-Круз.jpg', alt='Свидетелството На Ники Круз')
            span.duration 51:28
            a(href='https://www.youtube.com/watch?v=4HSvofeIuN8', target='_blank')
          article(title='Съществува ли БОГ - Aлберт Айнщайн')
            header
              .header-container
                h2 Съществува ли Бог - Aлберт Айнщайн
            img(src='img/videos/Съществува-ли-БОГ-Aлберт-Айнщайн.jpg', alt='Съществува ли БОГ ? - Алберт Айнщайн (видеоклип)')
            span.duration 01:18
            a(href='https://www.youtube.com/watch?v=rXEo77hJTLA', target='_blank')
          article(title='Да не забравим посланието - Дейвид Уилкерсън')
            header
              .header-container
                h2 Да не забравим посланието
            img(src='img/videos/Да-не-забравим-посланието-Дейвид-Уилкерсън.jpg', alt='Да не забравим посланието (проповед)')
            span.duration 09:27
            a(href='https://www.youtube.com/watch?v=_Nz03FsR9BI', target='_blank')
          article(title='Живей за Вечността - Paul Washer')
            header
              .header-container
                h2 Живей за Вечността
            img(src='img/videos/Живей-за-Вечността-Paul-Washer.jpg', alt='Живей за Вечността (проповед)')
            span.duration 03:22
            a(href='https://www.youtube.com/watch?v=Tz31I8F9PkM', target='_blank')
          article(title='Събуди се, Църкво!')
            header
              .header-container
                h2 Събуди се, Църкво!
            img(src='img/videos/Събуди-се-Църкво.jpg', alt='Събуди се, Църкво! (събрани думи от няколко проповеди)')
            span.duration 09:59
            a(href='https://www.youtube.com/watch?v=dhW-FWYUEDs', target='_blank')
          article(title='Пол Уошър - Изпитвай себе си')
            header
              .header-container
                h2 Пол Уошър - Изпитвай себе си
            img(src='img/videos/Пол-Уошър-Изпитвай-себе-си.jpg', alt='Изпитвай себе си (проповед)')
            span.duration 04:32
            a(href='https://www.youtube.com/watch?v=t3R5c8wkY1A', target='_blank')
          article(title='Библията е факт')
            header
              .header-container
                h2 Библията е факт
            img(src='img/videos/Библията-е-факт.jpg', alt='Библията е факт (видеоклип)')
            span.duration 06:34
            a(href='https://www.youtube.com/watch?v=-vYGK5zLhdI', target='_blank')
          article(title='Святостта на Бога')
            header
              .header-container
                h2 Святостта на Бога
            img(src='img/videos/Святостта-на-Бога.jpg', alt='Святостта на Бога (проповед)')
            span.duration 19:59
            a(href='https://www.youtube.com/watch?v=VUE8RAkClbI', target='_blank')
          article(title='Не погивай!')
            header
              .header-container
                h2 Не погивай!
            img(src='img/videos/Не-погивай!.jpg', alt='Не погивай! (проповед)')
            span.duration 02:52
            a(href='https://www.youtube.com/watch?v=XHwsE3R9sfA', target='_blank')
          article(title='Повечето от така наречените християни - в ада!')
            header
              .header-container
                h2 Студени християни - в ада!
            img(src='img/videos/студени-християни.jpg', alt='Повечето от така наречените християни - в ада! (проповед)')
            span.duration 04:35
            a(href='https://www.youtube.com/watch?v=WIq15M-SPAg', target='_blank')
          article(title='Божие провъзгласяване')
            header
              .header-container
                h2 Божие провъзгласяване
            img(src='img/videos/Божие-провъзгласяване.jpg', alt='Божие провъзгласяване')
            span.duration 03:51
            a(href='https://www.youtube.com/watch?v=FT-7qokE1vQ', target='_blank')
          article(title='Той е моя Цар, познавате ли Го!')
            header
              .header-container
                h2 Той е моя Цар, познавате ли Го!
            img(src='img/videos/Моя-Цар-познавате-ли-го!.jpg', alt='Той е моя Цар, познавате ли Го!')
            span.duration 03:18
            a(href='https://www.youtube.com/watch?v=FOzZdzapYcY', target='_blank')
          article(title='Бягай за живота си!')
            header
              .header-container
                h2 Бягай за живота си!
            img(src='img/videos/Бягай-за-живота-си!.jpg', alt='Бягай за живота си!')
            span.duration 05:21
            a(href='https://www.youtube.com/watch?v=c0QYWec20hU', target='_blank')
          article.long-header(title='ДА ОПИТАШ НЕЩО ПО-ДОБРО: ПОКАНА ЗА ОПОЗНАВАНЕ')
            header
              .header-container
                h2 ДА ОПИТАШ НЕЩО ПО-ДОБРО: ПОКАНА ЗА ОПОЗНАВАНЕ
            img(src='img/videos/ДА-ОПИТАШ-НЕЩО-ПО-ДОБРО.jpg', alt='ДА ОПИТАШ НЕЩО ПО-ДОБРО: ПОКАНА ЗА ОПОЗНАВАНЕ')
            span.duration 05:18
            a(href='https://www.youtube.com/watch?v=MhgY8sg0kZE', target='_blank')
          article.long-header(title='Покаянието е единствената ви надежда! Дейвид Уилкерсън')
            header
              .header-container
                h2 Покаянието е единствената ви надежда!
            img(src='img/videos/Покаянието-е-единствената-ви-надежда!.jpg', alt='Покаянието е единствената ви надежда! Дейвид Уилкерсън')
            span.duration 05:54
            a(href='https://www.youtube.com/watch?v=k-1An3bfHFs', target='_blank')
          article.long-header(title='Пол Уошър -- Евангелието -- най-ужасяващата истина на Писанието')
            header
              .header-container
                h2 Най-ужасяващата истина на Писанието
            img(src='img/videos/Най-ужасяващата-истина-на-Писанието.jpg', alt='Пол Уошър -- Евангелието -- най-ужасяващата истина на Писанието')
            span.duration 10:03
            a(href='https://www.youtube.com/watch?v=fBEULIPNgUE', target='_blank')
          article(title='Джон Пайпър: Кажете НЕ на порнографията (бг субтитри)')
            header
              .header-container
                h2 Кажете НЕ на порнографията!
            img(src='img/videos/Кажете-НЕ-на-порнографията.jpg', alt='Джон Пайпър: Кажете НЕ на порнографията (бг субтитри)')
            span.duration 04:37
            a(href='https://www.youtube.com/watch?v=9fmn807WusA', target='_blank')
          article(title='I Will Veil Myself In You (BG) / Ще се покрия с теб')
            header
              .header-container
                h2 Ще се покрия с теб
            img(src='img/videos/Ще-се-покрия-с-теб.jpg', alt='I Will Veil Myself In You (BG) / Ще се покрия с теб')
            span.duration 03:57
            a(href='https://www.youtube.com/watch?v=4U_LXL8zaIs', target='_blank')
          article.long-header(title='УМОРЕН СЪМ! - изповед на един пастир ...')
            header
              .header-container
                h2 УМОРЕН СЪМ! - изповед на един пастир ...
            img(src='img/videos/УМОРЕН-СЪМ-изповед.jpg', alt='УМОРЕН СЪМ! - изповед на един пастир ...')
            span.duration 29:07
            a(href='https://www.youtube.com/watch?v=os1OEINXkcE', target='_blank')
          article(title='Джон Пайпър: Воювайте!')
            header
              .header-container
                h2 Джон Пайпър: Воювайте!
            img(src='img/videos/Джон-Пайпър-Воювайте!.jpg', alt='Джон Пайпър: Воювайте!')
            span.duration 08:35
            a(href='https://www.youtube.com/watch?v=GKRz4HKKpzM', target='_blank')
          article.long-header(title='Слабостта ви трябва да ви води към Бог (Пол Уошър)')
            header
              .header-container
                h2 Слабостта ви трябва да ви води към Бог
            img(src='img/videos/Слабостта-ви-трябва-да.jpg', alt='Слабостта ви трябва да ви води към Бог (Пол Уошър)')
            span.duration 06:24
            a(href='https://www.youtube.com/watch?v=iG9nHOnGPSU', target='_blank')
          article.long-header(title='Разобличаване на евангелието на просперитета!')
            header
              .header-container
                h2 Разобличаване на евангелието на просперитета!
            img(src='img/videos/Разобличаване-на-евангелието-на-просперитета.jpg', alt='Разобличаване на евангелието на просперитета!')
            span.duration 15:29
            a(href='https://www.youtube.com/watch?v=I9lTnjD6rKo', target='_blank')
          article(title='Идолопоклонничество')
            header
              .header-container
                h2 Идолопоклонничество
            img(src='img/videos/Идолопоклонничество.jpg', alt='Идолопоклонничество')
            span.duration 03:01
            a(href='https://www.youtube.com/watch?v=Wskipp-F4D4', target='_blank')
          article.long-header(title='Дали Бог е добър, щом има страдание?')
            header
              .header-container
                h2 Дали Бог е добър, щом има страдание?
            img(src='img/videos/БОГ-добър-ли-е.jpg', alt='Дали Бог е добър, щом има страдание?')
            span.duration 01:45
            a(href='https://www.youtube.com/watch?v=B_R7Z97rSkI', target='_blank')
          article(title='Чудото на живота')
            header
              .header-container
                h2 Чудото на живота
            img(src='img/videos/Чудото-на-живота.jpg', alt='Чудото на живота')
            span.duration 14:20
            a(href='https://www.youtube.com/watch?v=caDi0FCNss4', target='_blank')
          article(title='Христовото съдилище')
            header
              .header-container
                h2 Христовото съдилище
            img(src='img/videos/Христовото-съдилище.jpg', alt='Христовото съдилище')
            span.duration 07:05
            a(href='https://www.youtube.com/watch?v=izXiOE-R_nY&index=9&list=PLuJRAt6nWcq9jscbBFVMKFzagoinV815S', target='_blank')
          article(title='Свидетелството на един бивш мюсюлманин !')
            header
              .header-container
                h2 Свидетелството на един бивш мюсюлманин !
            img(src='img/videos/Свидетелството-на-един-бивш-мюсюлманин.jpg', alt='Свидетелството на един бивш мюсюлманин !')
            span.duration 25:20
            a(href='https://www.youtube.com/watch?v=EYXQSuscm5U', target='_blank')
          article(title='Проповед - Антон Пенев')
            header
              .header-container
                h2 Проповед - Антон Пенев
            img(src='img/videos/Проповед-Антон-Пенев.jpg', alt='Проповед - Антон Пенев')
            span.duration 75:21
            a(href='http://vbox7.com/play:cbb52819', target='_blank')
          article(title='СЪТВОРЕНИЕТО. Земята е доказателството.')
            header
              .header-container
                h2 СЪТВОРЕНИЕТО. Земята е доказателството.
            img(src='img/videos/СЪТВОРЕНИЕТО-Земята-е-доказателството.jpg', alt='СЪТВОРЕНИЕТО. Земята е доказателството.')
            span.duration 26:35
            a(href='https://www.youtube.com/watch?v=JbX9Q2B1FDA', target='_blank')
          article(title='Проповед')
            header
              .header-container
                h2 Проповед
            img(src='img/videos/Проповед.jpg', alt='Проповед')
            span.duration 01:22:07
            a(href='https://vimeo.com/37787450', target='_blank')
          article(title='Бог заповядва , на всички човеци навсякъде , да се покаят')
            header
              .header-container
                h2 Бог заповядва , на всички човеци навсякъде , да се покаят
            img(src='img/videos/Бог-заповядва-на-всички-човеци-навсякъде-да-се-покаят.jpg', alt='Бог заповядва , на всички човеци навсякъде , да се покаят')
            span.duration 48:12
            a(href='https://www.youtube.com/watch?v=2rWCnJyEkT8', target='_blank')
          article(title='Уклон към спиритизъм и други мистични неща')
            header
              .header-container
                h2 Уклон към спиритизъм и други мистични неща
            img(src='img/videos/Уклон-към-спиритизъм-и-други-мистични-неща.jpg', alt='Уклон към спиритизъм и други мистични неща')
            span.duration 11:21
            a(href='https://www.youtube.com/watch?t=503&v=jhKxKysG9MY', target='_blank')
          article(title='Силата на СВЯТИЯ ДУХ е основното')
            header
              .header-container
                h2 Силата на СВЯТИЯ ДУХ е основното
            img(src='img/videos/Силата-на-СВЯТИЯ-ДУХ-е-основното.jpg', alt='Силата на СВЯТИЯ ДУХ е основното')
            span.duration 04:18
            a(href='http://vbox7.com/play:7a0b66e4e3', target='_blank')
          article(title='Какво всъщност е Йога')
            header
              .header-container
                h2 Какво всъщност е Йога
            img(src='img/videos/Какво-всъщност-е-Йога.jpg', alt='Какво всъщност е Йога')
            span.duration 05:39
            a(href='http://vbox7.com/play:9408dd6c96', target='_blank')
          article(title='Истината за: прераждането;медитацията и йогата')
            header
              .header-container
                h2 Истината за: прераждането;медитацията и йогата
            img(src='img/videos/Истината-за-прераждането-медитацията-и-йогата.jpg', alt='Истината за: прераждането;медитацията и йогата')
            span.duration 07:58
            a(href='http://vbox7.com/play:a132b40a', target='_blank')
          article(title='Можем ли да вярваме на Библията')
            header
              .header-container
                h2 Можем ли да вярваме на Библията
            img(src='img/videos/Можем-ли-да-вярваме-на-Библията.jpg', alt='Можем ли да вярваме на Библията')
            span.duration 03:52
            a(href='https://www.youtube.com/watch?v=kiOCzbb9lyo', target='_blank')
          article(title='Ванга и Дънов, къде е истината?')
            header
              .header-container
                h2 Ванга и Дънов, къде е истината?
            img(src='img/videos/Ванга-и-Дънов-къде-е-истината.jpg', alt='Ванга и Дънов, къде е истината?')
            span.duration 07:31
            a(href='http://vbox7.com/play:144c815e', target='_blank')
          article(title='Аз съм пътят, и истината, и животът (Йоан 14:6)')
            header
              .header-container
                h2 Аз съм пътят, и истината, и животът (Йоан 14:6)
            img(src='img/videos/Аз-съм-пътят-и-истината-и-животът-Йоан-14-6.jpg', alt='Аз съм пътят, и истината, и животът (Йоан 14:6)')
            span.duration 11:26
            a(href='http://vbox7.com/play:956597ed4f', target='_blank')
          article(title='Достоверна ли е Библията?')
            header
              .header-container
                h2 Достоверна ли е Библията?
            img(src='img/videos/Достоверна-ли-е-Библията.jpg', alt='Достоверна ли е Библията?')
            span.duration 08:41
            a(href='https://www.youtube.com/watch?v=A0DjYoXBe74', target='_blank')
          article(title='ПОЛ УОШЪР - ОБИЧАЙ ЖЕНА СИ')
            header
              .header-container
                h2 ПОЛ УОШЪР - ОБИЧАЙ ЖЕНА СИ
            img(src='img-en/videos/Paul-Washer-Husbands-love-your-wife!.png', alt='ПОЛ УОШЪР - ОБИЧАЙ ЖЕНА СИ')
            span.duration 09:30
            a(href='https://www.youtube.com/watch?v=UDnBpg38q8M', target='_blank')
          article(title='Порнографията и Християните')
            header
              .header-container
                h2 Порнографията и Християните
            img(src='img/videos/Порнографията-и-Християните.png', alt='Порнографията и Християните')
            span.duration 02:03
            a(href='https://www.youtube.com/watch?v=cWMHThVDhcg', target='_blank')
          p.finded-results Не бяха открити съвпадения с въведените ключови думи.
    #thanks
      p
        | Благодаря на 
        a(href='http://mazenl77.deviantart.com/', target='_blank') MazeNL77
        |  за безплатната икона за търсене.
        | 		Благодаря на човека написал 
        a(href='http://blog.teamtreehouse.com/create-a-themable-button-set-with-sass', target='_blank') тази статия
        |  за бутоните, които използвах за главната навигация.
        | 		Благодаря на уебсайта 
        a(href='http://www.cnncd.com/includes-a-total-number-of-25-flag-languages-all-layers-can-be-separated-and-edited-within-clicks-free-world-flags-psd-file/', target='_blank') cnncd
        |  за безплатните национални флагове.
    script(type='text/javascript', src='scripts/jquery-1.11.3.min.js')
    //if lt IE 10
      script(type='text/javascript').
        $(function() {
        $('article').mouseover(function() {
        $(this).stop().animate({'opacity': '0.7'}, 400);
        });
        $('article').mouseout(function() {
        $(this).stop().animate({'opacity': '1'}, 400);
        });
        });
    script(type='text/javascript', src='scripts/main.js')
