doctype html
html
  head
    meta(charset='UTF-8')
    title Movies
    link(rel='stylesheet', href='styles/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Christian movies and movies associated directly or indirectly with the faith in Our God.')
    meta(property='og:title', content='Christian movies')
    meta(property='og:site_name', content='LORD JESUS CHRIST')
    meta(property='og:url', content='http://lord-jesus.tk/movies-en.html')
    meta(property='og:description', content='Christian movies and movies associated directly or indirectly with the faith in Our God.')
    meta(property='og:image', content='http://gentlemenhood.com/wp-content/uploads/2014/06/faith.jpg')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='scripts/respond.min.js')
      script(type='text/javascript', src='scripts/rem.min.js')
    //if IE
      style.
        body #wrapper #main-content-wrapper #main-content article a {
        background-color: #FFF;
        }
  body
    #wrapper
      header#main-header
        nav#main-nav
          ul
            li
              a.red.btn.the-holy-bible(href='https://www.biblegateway.com/passage/?version=KJV&search=Matthew%201', target='_blank') HOLY BIBLE
            li
              a.blue.btn.videos(href='index-en.html') Video
            li
              a#current-page.green.btn.movies(href='movies-en.html') Movies
            li
              a.orange.btn.music(href='music-en.html') Music
            li
              a.purple.btn.music(href='the-elite-en.html') The elite
        #languages-and-searching
          #languages
            a#bulgarian(title='Bulgarian', href='movies-bg.html')
            a#english.current-language(title='English', href='movies-en.html')
          #search-field
            input#search(type='text')
            i#search-image(title='search for a certain video')
            .clear
          .clear  
      #main-content-wrapper
        #main-content
          article(title='Nick Vujicic: Life\'s Greater Purpose')
            header
              .header-container
                h2 Nick Vujicic: Life's Greater Purpose
            img(src='img-en/movies/Nick-Vujicic-Greater-Purpose-Of-Life.jpg', alt='Nick Vujicic speaks while walking on a table and have a Bible beside him.')
            span.duration 01:18:00
            a(href='http://subs.freezoy.com/index.php?topic=44.0', target='_blank')
            p.new New
          article(title='Road To Emmaus')
            header
              .header-container
                h2 Road To Emmaus
            img(src='img-en/movies/Road-To-Emmaus.jpg', alt='The three people talking on the road to Emmaus.')
            span.duration 31:37
            a(href='https://www.youtube.com/watch?v=0t2r1_4Q8TQ', target='_blank')
            p.new New
          article(title='Between The Walls')
            header
              .header-container
                h2 Between The Walls
            img(src='img-en/movies/Between-The-Walls.jpg', alt='The protagonist gives the wallet of his best friend while they are sitting next to each other.')
            span.duration 01:12:05
            a(href='https://www.youtube.com/watch?v=G6mz7GN9koY', target='_blank')
            p.new New
          article(title='Polycarp')
            header
              .header-container
                h2 Polycarp
            img(src='img-en/movies/Polycarp.jpg', alt='Polycarp is praying.')
            span.duration 01:32:44
            a(href='http://www.watchfree.to/watch-2a4b09-Polycarp-movie-online-free-putlocker.html', target='_blank')
            p.new New
          article(title='The Perfect Stranger')
            header
              .header-container
                h2 The Perfect Stranger
            img(src='img/movies/Напълно-Непознат-1.jpg', alt='Jefferson Moore')
            span.duration 01:13:06
            a(href='http://www.seedpeer.eu/details/3767805/The-Perfect-Stranger-2005-Christian-Movie.html', target='_blank')
          article(title='What If...')
            header
              .header-container
                h2 What If...
            img(src='img/movies/Какво-ще-стане-ако-2010.jpg', alt='Kevin Sorbo')
            span.duration 01:58:23
            a(href='https://thepiratebay.se/torrent/6654313/What_If............__(2010)_Christian_Movie', target='_blank')
          article(title='Fireproof')
            header
              .header-container
                h2 Fireproof
            img(src='img/movies/Устойчив-на-огън-2008.jpg', alt='The protagonists argue standing against each other.')
            span.duration 01:58:00
            a(href='https://monova.org/torrent/7199066/fireproof-2008-720p-brrip-sujaidr-pimprg.html#!', target='_blank')
          article(title='The Grace Card')
            header
              .header-container
                h2 The Grace Card
            img(src='img-en/movies/The-Grace-Card-2010.jpg', alt='The main characters talk sitting with bowed heads.')
            span.duration 01:36:00
            a(href='https://thepiratebay.se/torrent/6670483/The_Grace_Card_(Christian_Movie)', target='_blank')
          article(title='The Encounter')
            header
              .header-container
                h2 The Encounter
            img(src='img/movies/Неочаквана-среща-2010.jpg', alt='The main character')
            span.duration 01:30:05
            a(href='https://www.youtube.com/watch?v=ICX78okH4HU', target='_blank')
          article(title='What Would Jesus Do')
            header
              .header-container
                h2 What Would Jesus Do
            img(src='img-en/movies/What-Would-Jesus-Do.jpg', alt='The main character')
            span.duration 01:34:02
            a(href='https://www.youtube.com/watch?v=OYY82DYZ90k', target='_blank')
          article(title='The Jesus Movie 1979 Full')
            header
              .header-container
                h2 The Jesus Movie 1979 Full
            img(src='img-en/movies/The-Jesus-Movie-1979.jpg', alt='The Jesus Movie 1979 Full')
            span.duration 02:00:39
            a(href='https://www.youtube.com/watch?v=EWYuIe8ftHA', target='_blank')
          article(title="The Signs of God's Existence")
            header
              .header-container
                h2 The Signs of God's Existence
            img(src='img-en/movies/The-Signs-of-Existence-of-GOD.jpg', alt="The Signs of GOD's existence")
            span.duration 01:46:22
            a(href='https://www.youtube.com/watch?v=5tukSHFNLZo', target='_blank')
          article(title='The Most Incredible Prophecy')
            header
              .header-container
                h2 The Most Incredible Prophecy
            img(src='img-en/movies/The-Most-Incredible-Prophecy.jpg', alt='The Most Incredible Prophecy')
            span.duration 32:47
            a(href='https://www.youtube.com/watch?v=BOlqb-HppEI', target='_blank')
          article(title='Where Does The Evidence Lead')
            header
              .header-container
                h2 Where Does The Evidence Lead
            img(src='img-en/movies/Where-Does-The-Evidence-Lead.jpg', alt='Where Does The Evidence Lead')
            span.duration 01:08:31
            a(href='https://www.youtube.com/watch?v=bGuigCiPyL4', target='_blank')
          article(title="God's Not Dead")
            header
              .header-container
                h2 God's Not Dead
            img(src="img-en/movies/God's-Not-Dead.jpg", alt="God's Not Dead")
            span.duration 01:52:46
            a(href='http://seventorrents.xyz/Movies/Gods-Not-Dead-2014-BRRiP-XVID-AC3-MAJESTIC.1069692.aspx', target='_blank')
          article(title='Abortion - The Silent Scream')
            header
              .header-container
                h2 Abortion - The Silent Scream
            img(src='img-en/movies/Abortion-The-Silent-Scream.jpg', alt='Abortion - The Silent Scream')
            span.duration 28:39
            a(href='https://www.youtube.com/watch?v=gON-8PP6zgQ', target='_blank')
          article(title='God Of Wonders')
            header
              .header-container
                h2 God Of Wonders
            img(src='img-en/movies/God-Of-Wonders.jpg', alt='God Of Wonders')
            span.duration 01:24:57
            a(href='https://www.youtube.com/watch?v=QAuGRhZsMCs', target='_blank')
          article(title="Darwin's Dilemma")
            header
              .header-container
                h2 Darwin's Dilemma
            img(src="img-en/movies/Darwin's-Dilemma.jpg", alt="Darwin's Dilemma")
            span.duration 01:13:57
            a(href='https://www.youtube.com/watch?v=xxh9o32m5c0', target='_blank')
          article(title='The possibility of Creator')
            header
              .header-container
                h2 The possibility of Creator
            img(src='img-en/movies/The-possibility-of-Creator.jpg', alt='The possibility of Creator')
            span.duration 59:44
            a(href='https://www.youtube.com/watch?v=g4i64o8Q3eU', target='_blank')
          article(title='The Privileged Planet')
            header
              .header-container
                h2 The Privileged Planet
            img(src='img-en/movies/The-Privileged-Planet.jpg', alt='The Privileged Planet')
            span.duration 01:32:19
            a(href='https://www.youtube.com/watch?v=QmIc42oRjm8', target='_blank')
          article(title='The Young Age of the Earth')
            header
              .header-container
                h2 The Young Age of the Earth
            img(src='img-en/movies/The-Young-Age-of-the-Earth.jpg', alt='The Young Age of the Earth')
            span.duration 01:16:29
            a(href='https://www.youtube.com/watch?v=Bk1vJ7BN0Xw', target='_blank')
          article(title='Theodicy - Good God, Bad World. Why?')
            header
              .header-container
                h2 Theodicy - Good God, Bad World. Why?
            img(src='img-en/movies/Theodicy-Good-God-Bad-World-Why.jpg', alt='Theodicy - Good God, Bad World. Why?')
            span.duration 50:50
            a(href='https://www.youtube.com/watch?v=fl1yLWodqLU', target='_blank')
          article(title='Fingerprints Of Creation')
            header
              .header-container
                h2 Fingerprints Of Creation
            img(src='img-en/movies/Fingerprints-Of-Creation.jpg', alt='Fingerprints Of Creation')
            span.duration 33:31
            a(href='https://www.youtube.com/watch?v=rTICjwUhSys', target='_blank')
          p.finded-results No matches were found.
    #thanks
      p
        | Thanks 
        a(href='http://mazenl77.deviantart.com/', target='_blank') MazeNL77
        |  for the free search icon. Thanks man wrote this 
        a(href='http://blog.teamtreehouse.com/create-a-themable-button-set-with-sass', target='_blank') this article
        |  for the buttons, which I used for primary navigation. Thanks website 
        a(href='http://www.cnncd.com/includes-a-total-number-of-25-flag-languages-all-layers-can-be-separated-and-edited-within-clicks-free-world-flags-psd-file/', target='_blank') cnncd
        |  for free flags.

    script(type='text/javascript', src='scripts/jquery-1.11.3.min.js')
    //if lt IE 10
      script(type='text/javascript').
        $(function() {
        $('article').mouseover(function() {
        $(this).stop().animate({'opacity': '0.7'}, 400);
        });
        $('article').mouseout(function() {
        $(this).stop().animate({'opacity': '1'}, 400);
        });
        });
    script(type='text/javascript', src='scripts/main.js')
