doctype html
html
  head
    meta(charset='UTF-8')
    title Music
    link(rel='stylesheet', href='styles/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Songs for Our LORD GOD ALMIGHTY.')
    meta(property='og:title', content='Christian songs')
    meta(property='og:site_name', content='LORD JESUS CHRIST')
    meta(property='og:url', content='http://lord-jesus.tk/music-en.html')
    meta(property='og:description', content='Songs for Our LORD GOD ALMIGHTY.')
    meta(property='og:image', content='http://www.soulstylebeauty.com/wp-content/uploads/2015/04/dffgf.jpg')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='scripts/respond.min.js')
      script(type='text/javascript', src='scripts/rem.min.js')
    //if IE
      style.
        body #wrapper #main-content-wrapper #main-content article a {
        background-color: #FFF;
        }
  body
    #wrapper
      header#main-header
        nav#main-nav
          ul
            li
              a.red.btn.the-holy-bible(href='https://www.biblegateway.com/passage/?version=KJV&search=Matthew%201', target='_blank') HOLY BIBLE
            li
              a.blue.btn.videos(href='index-en.html') Video
            li
              a.green.btn.movies(href='movies-en.html') Movies
            li
              a#current-page.orange.btn.music(href='music-en.html') Music
            li
              a.purple.btn.music(href='the-elite-en.html') The elite
        #languages-and-searching
          #languages
            a#bulgarian(title='Bulgarian', href='music-bg.html')
            a#english.current-language(title='English', href='music-en.html')
          #search-field
            input#search(type='text')
            i#search-image(title='search for a certain video')
            .clear
          .clear  
      #main-content-wrapper
        #main-content
          article(title='Song of Ruth')
            header
              .header-container
                h2 Song of Ruth
            img(src='img-en/music/Song-of-Ruth.jpg', alt='Forest and rays of the sun passing between the branches.')
            span.duration 02:48
            a(href='https://www.youtube.com/watch?v=i-bavjwA0hg', target='_blank')
          article(title='Lilly Goodman - Mi Iglesia')
            header
              .header-container
                h2 Lilly Goodman - Mi Iglesia
            img(src='img/videos/Моята-Църква-Lilly-Goodman.jpg', alt='Woman with outstretched arms who looks up to the sky.')
            span.duration 03:58
            a(href='https://www.youtube.com/watch?v=Zw5XJ14FuDE', target='_blank')
          article(title='MICHAEL SMITH - I CAN HEAR YOUR VOICE')
            header
              .header-container
                h2 MICHAEL SMITH - I CAN HEAR YOUR VOICE
            img(src='img-en/music/Michael-Smith-I-Can-hear-your-voice.jpg', alt='River and mountains with mist on it by the middle.')
            span.duration 03:29
            a(href='https://www.youtube.com/watch?v=88fbQtA1kJw', target='_blank')
          article(title='Shema Israel Sarit Hadad (eng subs)')
            header
              .header-container
                h2 Shema Israel Sarit Hadad (eng subs)
            img(src='img-en/music/Shema-Israel-Sarit-Hadad.jpg', alt='Shema Israel Sarit Hadad (eng subs)')
            span.duration 05:02
            a(href='https://www.youtube.com/watch?v=TUzEfu9pTWA', target='_blank')
          article(title='VIA DOLOROSA - Sandi Patty')
            header
              .header-container
                h2 VIA DOLOROSA - Sandi Patty
            img(src='img-en/music/Via-Dolorosa.jpg', alt='VIA DOLOROSA - Sandi Patty')
            span.duration 04:29
            a(href='https://www.youtube.com/watch?v=h6dwOX6N_Tk', target='_blank')
          article(title='Jesús Romero - No merecía tanto amor (eng subs)')
            header
              .header-container
                h2 Jesús Romero - No merecía tanto amor (eng subs)
            img(src='img-en/music/Jesus-Romero-No-merecia-tanto-amor.jpg', alt='Jesús Romero - No merecía tanto amor (eng subs)')
            span.duration 06:19
            a(href='https://www.youtube.com/watch?v=GJOIYeyor7s', target='_blank')
          article(title='Behold the Lamb - Alisha Powell')
            header
              .header-container
                h2 Behold the Lamb - Alisha Powell
            img(src='img-en/music/Behold-the-Lamb-Alisha-Powell.jpg', alt='Behold the Lamb - Alisha Powell')
            span.duration 05:14
            a(href='https://www.youtube.com/watch?v=nRdJb84utLM', target='_blank')
          article(title='Rachem (eng subs)')
            header
              .header-container
                h2 Rachem (eng subs)
            img(src='img-en/music/Rachem.jpg', alt='Rachem (eng subs)')
            span.duration 03:28
            a(href='https://www.youtube.com/watch?v=8_O3PnKB32c', target='_blank')
          article(title='For the Glory of Your Name')
            header
              .header-container
                h2 For the Glory of Your Name
            img(src='img-en/music/For-the-Glory-of-Your-Name.jpg', alt='For the Glory of Your Name')
            span.duration 05:45
            a(href='https://www.youtube.com/watch?v=uXVPYOg4w3o', target='_blank')
          article(title='Mary Did You Know?')
            header
              .header-container
                h2 Mary Did You Know?
            img(src='img-en/music/Mary-Did-You-Know.jpg', alt='Mary Did You Know?')
            span.duration 03:36
            a(href='https://www.youtube.com/watch?v=_U2G8wsbXBo', target='_blank')
          article(title='Come to JESUS')
            header
              .header-container
                h2 Come to JESUS
            img(src='img-en/music/Come-to-JESUS.jpg', alt='Come to JESUS')
            span.duration 03:42
            a(href='https://www.youtube.com/watch?v=e_4g8_e16dc', target='_blank')
          article(title='EL SHADDAI BY AMY GRANT')
            header
              .header-container
                h2 EL SHADDAI BY AMY GRANT
            img(src='img-en/music/EL-SHADDAI-BY-AMY-GRANT.jpg', alt='EL SHADDAI BY AMY GRANT')
            span.duration 04:11
            a(href='https://www.youtube.com/watch?v=DuXB1a3NBCw', target='_blank')
          article(title='The River by brian doerksen')
            header
              .header-container
                h2 The River by brian doerksen
            img(src='img-en/music/The-River-by-brian-doerksen.jpg', alt='The River by brian doerksen')
            span.duration 05:55
            a(href='https://www.youtube.com/watch?v=RGRCjWNwAg0', target='_blank')
          article(title='Days of Elijah')
            header
              .header-container
                h2 Days of Elijah
            img(src='img-en/music/Days-of-Elijah.jpg', alt='Days of Elijah')
            span.duration 05:14
            a(href='https://www.youtube.com/watch?v=AUQQOy6hpT8', target='_blank')
          article(title='What a Precious Friend is He')
            header
              .header-container
                h2 What a Precious Friend is He
            img(src='img-en/music/What-a-Precious-Friend-is-He.jpg', alt='What a Precious Friend is He')
            span.duration 03:13
            a(href='https://www.youtube.com/watch?v=q0sXO4pyatk', target='_blank')
          article(title='Let All Mortal Flesh Keep Silence')
            header
              .header-container
                h2 Let All Mortal Flesh Keep Silence
            img(src='img-en/music/Let-All-Mortal-Flesh-Keep-Silence.jpg', alt='Let All Mortal Flesh Keep Silence')
            span.duration 04:30
            a(href='https://www.youtube.com/watch?v=8wl4u8lnDQs', target='_blank')
          article(title='Babylon - Rich Mullins')
            header
              .header-container
                h2 Babylon - Rich Mullins
            img(src='img-en/music/Babylon-Rich-Mullins.jpg', alt='Babylon - Rich Mullins')
            span.duration 01:49
            a(href='https://www.youtube.com/watch?v=Cr-efsiiylQ', target='_blank')
          article(title='Hold Me Forever - Misty Edwards')
            header
              .header-container
                h2 Hold Me Forever - Misty Edwards
            img(src='img-en/music/Hold-Me-Forever-Misty-Edwards.jpg', alt='Hold Me Forever - Misty Edwards')
            span.duration 13:24
            a(href='https://www.youtube.com/watch?v=HxxI3sK_CxI', target='_blank')
          article(title='Cast me not off in the time of old age - Michel Cohen')
            header
              .header-container
                h2 Cast me not off in the time of old age - Michel Cohen
            img(src='img-en/music/Cast-me-not-off-in-the-time-of-old-age-Michel-Cohen.png', alt='Cast me not off in the time of old age - Michel Cohen')
            span.duration 03:24
            a(href='https://www.youtube.com/watch?v=5K5K7ujd1lc', target='_blank')
          p.finded-results No matches were found.
    #thanks
      p
        | Thanks 
        a(href='http://mazenl77.deviantart.com/', target='_blank') MazeNL77
        |  for the free search icon. Thanks man wrote this 
        a(href='http://blog.teamtreehouse.com/create-a-themable-button-set-with-sass', target='_blank') this article
        |  for the buttons, which I used for primary navigation. Thanks website 
        a(href='http://www.cnncd.com/includes-a-total-number-of-25-flag-languages-all-layers-can-be-separated-and-edited-within-clicks-free-world-flags-psd-file/', target='_blank') cnncd
        |  for free flags.
    script(type='text/javascript', src='scripts/jquery-1.11.3.min.js')
    //if lt IE 10
      script(type='text/javascript').
        $(function() {
        $('article').mouseover(function() {
        $(this).stop().animate({'opacity': '0.7'}, 400);
        });
        $('article').mouseout(function() {
        $(this).stop().animate({'opacity': '1'}, 400);
        });
        });
    script(type='text/javascript', src='scripts/main.js')
