doctype html
html
  head
    meta(charset='UTF-8')
    title The elite
    link(rel='stylesheet', href='styles/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Illuminati Satanists, Knights Templars, Jesuits, heresies, conspiracies, servants of the devil, HAARP.')
    meta(property='og:title', content='Secret societies and plans')
    meta(property='og:site_name', content='LORD JESUS CHRIST')
    meta(property='og:url', content='http://lord-jesus.tk/the-elite-en.html')
    meta(property='og:description', content='What are these strange characters everywhere? Illuminati, satanists, jesuits, knights templar - do you know who they are and their purpose? Have you ever thought about the messages in the TV, movies, animations and music you listen to?')
    meta(property='og:image', content='http://www.governmentsecrets.com/wp-content/uploads/2014/07/7-27-2014-10-38-35-AM-1200x673.jpg')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='scripts/respond.min.js')
      script(type='text/javascript', src='scripts/rem.min.js')
    //if IE
      style.
        body #wrapper #main-content-wrapper #main-content article a {
        background-color: #FFF;
        }
  body
    #wrapper
      header#main-header
        nav#main-nav
          ul
            li
              a.red.btn.the-holy-bible(href='https://www.biblegateway.com/passage/?version=KJV&search=Matthew%201', target='_blank') HOLY BIBLE
            li
              a.blue.btn.videos(href='index-en.html') Video
            li
              a.green.btn.movies(href='movies-en.html') Movies
            li
              a.orange.btn.music(href='music-en.html') Music
            li
              a#current-page.purple.btn.music(href='the-elite-en.html') The elite
        #languages-and-searching
          #languages
            a#bulgarian(title='Bulgarian', href='the-elite-bg.html')
            a#english.current-language(title='English', href='the-elite-en.html')
          #search-field
            input#search(type='text')
            i#search-image(title='search for a certain video')
            .clear
          .clear  
      #main-content-wrapper
        #main-content
          article(title="Yet Another '9/11 Was An Inside Job'")
            header
              .header-container
                h2 Yet Another "9/11 Was An Inside Job"
            img(src='img/the-elite/11-септември-2001-г-вътрешна-работа.jpg', alt='Twin Towers fall symmetrically, maybe.')
            span.duration 04:52
            a(href='https://www.youtube.com/watch?v=OntBg2qwk_M', target='_blank')
          article(title='*AGE OF DECEIT* (FULL) Fallen Angels and the New World Order')
            header
              .header-container
                h2 *AGE OF DECEIT* (FULL) Fallen Angels and the New World Order
            img(src='img-en/the-elite/AGE-OF-DECEIT-Fallen-Angels-and-the-New-World-Order.jpg', alt='Alien creature that is not really an alien but a demon posing as an angel of light.')
            span.duration 02:31:32
            a(href='https://www.youtube.com/watch?v=wjmFm8PIz8M', target='_blank')
          article(title='Satanic Music Industry Part 1 (illuminati)')
            header
              .header-container
                h2 Satanic Music Industry Part 1 (illuminati)
            img(src='img-en/the-elite/Satanic-Music-Industry-1.jpg', alt='John Todd exposes the secrets of satanic music.')
            span.duration 15:15
            a(href='https://www.youtube.com/watch?v=EEhbqRm7-1Q', target='_blank')
          article(title='Satanic Music Industry Part 2 (illuminati)')
            header
              .header-container
                h2 Satanic Music Industry Part 2 (illuminati)
            img(src='img-en/the-elite/Satanic-Music-Industry-2.jpg', alt='Host of the show.')
            span.duration 04:39
            a(href='https://www.youtube.com/watch?v=pQrVcwZeF4Y', target='_blank')
          article(title='How and why Walt Disney is trying to corrupt you and your children')
            header
              .header-container
                h2 How and why Walt Disney is trying to corrupt you and your children
            img(src='img-en/videos/How-and-why-Walt-Disney-is-trying-to-corrupt-you-and-your-children.jpg', alt='How and why Walt Disney is trying to corrupt you and your children')
            span.duration 09:06
            a(href='https://www.youtube.com/watch?v=EUsKG3gO3Pc', target='_blank')
          article(title='Beyonce, The Super Bowl, Sasha & Satan')
            header
              .header-container
                h2 Beyonce, The Super Bowl, Sasha & Satan
            img(src='img-en/videos/Beyonce-The-Super-Bowl-Sasha-Satan.jpg', alt='Beyonce, The Super Bowl, Sasha & Satan')
            span.duration 11:08
            a(href='https://www.youtube.com/watch?v=21GOSnJc4Mg', target='_blank')
          article(title='Pseudology')
            header
              .header-container
                h2 Pseudology
            img(src='img-en/movies/Pseudology.jpg', alt='Pseudology')
            span.duration 01:32:15
            a(href='https://www.youtube.com/watch?v=XYQ2x4_dTU8', target='_blank')
          article(title='Dragon revealed')
            header
              .header-container
                h2 Dragon revealed
            img(src='img-en/movies/Dragon-revealed.png', alt='Dragon revealed')
            span.duration 01:33:18
            a(href='https://www.youtube.com/watch?v=QrAaZyJITq4', target='_blank')
          article(title='Controller Level 1 Simulated Spirituality')
            header
              .header-container
                h2 Controller Level 1 Simulated Spirituality
            img(src='img-en/movies/Controller-Level-1-Simulated-Spirituality.jpg', alt='Controller Level 1 Simulated Spirituality')
            span.duration 46:28
            a(href='https://www.youtube.com/watch?v=vpHHMhDU18E', target='_blank')
          article(title='The Replacement Gods')
            header
              .header-container
                h2 The Replacement Gods
            img(src='img-en/movies/The-Replacement-Gods.jpg', alt='The Replacement Gods')
            span.duration 01:42:52
            a(href='https://www.youtube.com/watch?v=nIeBKD4o2aw', target='_blank')
          article(title='New Age Movement deception and demonic UFO')
            header
              .header-container
                h2 New Age Movement deception and demonic UFO
            img(src='img-en/the-elite/New-Age-Movement-deception-and-demonic-UFO.png', alt='New Age Movement deception and demonic UFO')
            span.duration 02:35:14
            a(href='https://www.youtube.com/watch?v=d0XKvL1K5w0', target='_blank')
          article(title='Hells Bells 2: Foundations for Cultural Analysis (1 of 8)')
            header
              .header-container
                h2 Hells Bells 2 - part 1/8
            img(src='img-en/movies/Hells-Bells-2-Foundations-for-Cultural-Analysis.jpg', alt='Hells Bells 2: Foundations for Cultural Analysis (1 of 8)')
            span.duration 19:19
            a(href='https://www.youtube.com/watch?v=IFwkIP0-uNc', target='_blank')
          article(title='Illuminati in The Music Industry EXPOSED (Full length)')
            header
              .header-container
                h2 Illuminati in The Music Industry EXPOSED
            img(src='img-en/the-elite/Illuminati-in-The-Music-Industry-Exposed.png', alt='Illuminati in The Music Industry EXPOSED (Full length)')
            span.duration 01:49:33
            a(href='https://www.youtube.com/watch?v=SvJmpSgeNMU', target='_blank')
          article(title='Dark Secrets : Inside Bohemian Grove')
            header
              .header-container
                h2 Dark Secrets : Inside Bohemian Grove
            img(src='img-en/the-elite/Dark-Secrets-Inside-Bohemian-Grove-part-1.png', alt='Dark Secrets : Inside Bohemian Grove')
            span.duration 02:02:55
            a(href='https://www.youtube.com/watch?v=FVtEvplXMLs', target='_blank')
          article(title='1/10 Zeitgeist exposed')
            header
              .header-container
                h2 Zeitgeist exposed - part 1/10
            img(src='img-en/movies/Zeitgeist-exposed.jpg', alt='1/10 Zeitgeist exposed')
            span.duration 09:29
            a(href='https://www.youtube.com/watch?v=3-rs_IJBEOs', target='_blank')
          article(title='Battlefield Hollywood - part 1')
            header
              .header-container
                h2 Battlefield Hollywood - part 1
            img(src='img-en/the-elite/Battlefield-Hollywood-part-1.png', alt='Battlefield Hollywood - part 1')
            span.duration 53:31
            a(href='https://www.youtube.com/watch?v=X0dRNHcyhEs', target='_blank')
          article(title='Battlefield Hollywood - part 2')
            header
              .header-container
                h2 Battlefield Hollywood - part 2
            img(src='img-en/the-elite/Battlefield-Hollywood-part-2.png', alt='Battlefield Hollywood - part 2')
            span.duration 01:09:06
            a(href='https://www.youtube.com/watch?v=46EFiNfknwc', target='_blank')
          article(title='Battlefield Hollywood - part 3')
            header
              .header-container
                h2 Battlefield Hollywood - part 3
            img(src='img-en/the-elite/Battlefield-Hollywood-part-3.png', alt='Battlefield Hollywood - part 3')
            span.duration 58:48
            a(href='https://www.youtube.com/watch?v=VdpteMleYCs', target='_blank')
          article(title='Battlefield Hollywood - part 4')
            header
              .header-container
                h2 Battlefield Hollywood - part 4
            img(src='img-en/the-elite/Battlefield-Hollywood-part-4.png', alt='Battlefield Hollywood - part 4')
            span.duration 01:13:41
            a(href='https://www.youtube.com/watch?v=kg6JH7RjaCc', target='_blank')
          article(title='Magic kingdom')
            header
              .header-container
                h2 Magic kingdom
            img(src='img-en/the-elite/Magic-kingdom.png', alt='Magic kingdom')
            span.duration 59:01
            a(href='http://vbox7.com/play:9eae2444f2', target='_blank')
          article(title='Spongebob Squarepants - ILLUMINATI SYMBOLISM')
            header
              .header-container
                h2 Spongebob Squarepants - Illuminati Symbolism
            img(src='img-en/the-elite/Spongebob-Squarepants--Illuminati-symbolism.png', alt='Spongebob Squarepants - Illuminati symbolism')
            span.duration 05:11
            a(href='https://www.youtube.com/watch?v=A_PsT0Oh21A', target='_blank')
          article(title='Gravity Falls - Illuminati')
            header
              .header-container
                h2 Gravity Falls - Illuminati
            img(src='img-en/the-elite/Gravity-Falls-Illuminati.png', alt='Gravity Falls - Illuminati')
            span.duration 01:36
            a(href='https://www.youtube.com/watch?v=815WCTGN2bg', target='_blank')
          article(title='Angels & Demons Revealed')
            header
              .header-container
                h2 Angels & Demons Revealed
            img(src='img-en/the-elite/Angels-&-Demons-Revealed.png', alt='Angels & Demons Revealed')
            span.duration 01:06:54
            a(href='https://www.youtube.com/watch?v=9wgwQiD_CT0', target='_blank')
          article(title='The Illuminati - All Conspiracy no Theory')
            header
              .header-container
                h2 The Illuminati - All Conspiracy no Theory
            img(src='img-en/the-elite/The-Illuminati-All-Conspiracy-no-Theory.png', alt='The Illuminati - All Conspiracy no Theory')
            span.duration 01:54:24
            a(href='https://www.youtube.com/watch?v=duCc98-iPLg', target='_blank')
          article(title='Illuminati BEAST SYSTEM Fully Revealed!')
            header
              .header-container
                h2 Illuminati BEAST SYSTEM Fully Revealed!
            img(src='img-en/the-elite/Illuminati-BEAST-SYSTEM-Fully-Revealed.png', alt='Illuminati BEAST SYSTEM Fully Revealed!')
            span.duration 15:00
            a(href='https://www.youtube.com/watch?v=vd5E6y3nrCk', target='_blank')
          article(title='Open your eyes to the world! Illuminati! New world order!')
            header
              .header-container
                h2 Open your eyes to the world! Illuminati! New world order!
            img(src='img-en/the-elite/Open-your-eyes-to-the-world!-Illuminati!-New-world-order!.png', alt='Open your eyes to the world! Illuminati! New world order!')
            span.duration 03:16
            a(href='https://www.youtube.com/watch?v=CjoFXEUN-H8', target='_blank')
          article(title="Lil Wayne 'Love Me like Satan!?'")
            header
              .header-container
                h2 Lil Wayne "Love Me like Satan!?"
            img(src='img-en/the-elite/Lil-Wayne-Love-Me-like-satan.png', alt="Lil Wayne 'Love Me like Satan!?'")
            span.duration 03:59
            a(href='https://www.youtube.com/watch?v=0sxyCKWkQ2w', target='_blank')
          article(title='Disney Illuminati Satanism & Sex symbols Exposed')
            header
              .header-container
                h2 Disney Illuminati Satanism & Sex symbols Exposed
            img(src='img-en/the-elite/Disney-Illuminati-Satanism-&-Sex-symbols-Exposed.png', alt='Disney Illuminati Satanism & Sex symbols Exposed')
            span.duration 11:21
            a(href='https://www.youtube.com/watch?v=fGvIkc0tdpI', target='_blank')
          article(title="EXPOSED ANTON LAVEY SATAN'S WORKERS EXPLAINS HORNS AND HAND SIGNS FOR EVIL EXPOSED")
            header
              .header-container
                h2 ANTON LAVEY EXPLAINS HORNS AND HAND SIGNS FOR EVIL
            img(src='img-en/the-elite/ANTON-LAVEY-EXPLAINS-HORNS-AND-HAND-SIGNS-FOR-EVIL.png', alt="EXPOSED ANTON LAVEY SATAN'S WORKERS EXPLAINS HORNS AND HAND SIGNS FOR EVIL EXPOSED")
            span.duration 01:19
            a(href='https://www.youtube.com/watch?v=4NFeXq4q4Ks', target='_blank')
          article(title='Animal Farm')
            header
              .header-container
                h2 Animal Farm
            img(src='img-en/the-elite/Animal-Farm.png', alt='Animal Farm')
            span.duration 01:12:05
            a(href='https://www.youtube.com/watch?v=5uecjKjDMYY', target='_blank')
          article(title='Conclusive Evidence the 9/11 Planes were NOT REAL')
            header
              .header-container
                h2 Conclusive Evidence the 9/11 Planes were NOT REAL
            img(src='img-en/the-elite/Conclusive-Evidence-the-9.11-Planes-were-NOT-REAL.png', alt='Conclusive Evidence the 9/11 Planes were NOT REAL')
            span.duration 19:28
            a(href='https://www.youtube.com/watch?v=CUoqwUVOxHE', target='_blank')
          article(title='What in the World Are They Spraying?')
            header
              .header-container
                h2 What in the World Are They Spraying?
            img(src='img-en/the-elite/What-in-the-World-Are-They-Spraying.png', alt='What in the World Are They Spraying?')
            span.duration 01:37:32
            a(href='https://www.youtube.com/watch?v=xFQ2_0QNiks', target='_blank')
          article(title='ILLUMINATI EXPOSED BY PREACHER')
            header
              .header-container
                h2 ILLUMINATI EXPOSED BY PREACHER
            img(src='img-en/videos/ILLUMINATI-EXPOSED-BY-PREACHER.png', alt='ILLUMINATI EXPOSED BY PREACHER')
            span.duration 14:02
            a(href='https://www.youtube.com/watch?v=4lNxkiKo07U', target='_blank')
          article(title='Satanic Music Industry (Part 1)')
            header
              .header-container
                h2 Satanic Music Industry (Part 1)
            img(src='img-en/the-elite/satanic-music-industry-1.png', alt='Satanic Music Industry (Part 1)')
            span.duration 15:15
            a(href='https://www.youtube.com/watch?v=EEhbqRm7-1Q', target='_blank')
          article(title='Satanic Music Industry (Part 2)')
            header
              .header-container
                h2 Satanic Music Industry (Part 2)
            img(src='img-en/the-elite/satanic-music-industry-2.png', alt='Satanic Music Industry (Part 2)')
            span.duration 04:39
            a(href='https://www.youtube.com/watch?v=pQrVcwZeF4Y', target='_blank')
          article(title='Remember why they killed John Kennedy')
            header
              .header-container
                h2 Remember why they killed John Kennedy
            img(src='img-en/the-elite/Remember-why-they-killed-John-Kennedy.png', alt='Remember why they killed John Kennedy')
            span.duration 05:05
            a(href='https://www.youtube.com/watch?v=DscPoif46J8', target='_blank')
          article(title='John F. Kennedy - Secret Societies Speech')
            header
              .header-container
                h2 John F. Kennedy - Secret Societies Speech
            img(src='img-en/the-elite/John-F.-Kennedy-Secret-Societies-Speech.png', alt='John F. Kennedy - Secret Societies Speech')
            span.duration 19:43
            a(href='https://www.youtube.com/watch?v=zdMbmdFOvTs', target='_blank')
          article(title="Assange on mass surveillance: 'You are all screwed!'")
            header
              .header-container
                h2 Assange on mass surveillance: 'You are all screwed!'
            img(src='img-en/the-elite/Assange-on-mass-surveillance-You-are-all-screwed.png', alt="Assange on mass surveillance: 'You are all screwed!'")
            span.duration 01:00
            a(href='https://www.youtube.com/watch?v=B5cLqY6_2X8', target='_blank')
          article(title='The influence of the television')
            header
              .header-container
                h2 The influence of the television
            img(src='img-en/the-elite/The-influence-of-the-television.png', alt='The influence of the television')
            span.duration 02:49
            a(href='https://www.youtube.com/watch?v=qw5kn8Qx2q4', target='_blank')
          article(title='Do you still believe that you are free?')
            header
              .header-container
                h2 Do you still believe that you are free?
            img(src='img-en/the-elite/Do-you-still-believe-that-you-are-free.png', alt='Do you still believe that you are free?')
            span.duration 11:46
            a(href='https://www.youtube.com/watch?v=7CSrJqhZ5b8', target='_blank')
          article(title='How Television Affects Your Brain Chemistry')
            header
              .header-container
                h2 How Television Affects Your Brain Chemistry
            img(src='img-en/the-elite/How-Television-Affects-Your-Brain-Chemistry.png', alt='How Television Affects Your Brain Chemistry')
            span.duration 03:44
            a(href='https://www.youtube.com/watch?v=zw_7CJ5ozaM', target='_blank')
          article(title='Noam Chomsky - 10 Strategies Of Manipulation')
            header
              .header-container
                h2 Noam Chomsky - 10 Strategies Of Manipulation
            img(src='img-en/the-elite/Noam-Chomsky-10-Strategies-Of-Manipulation.png', alt='Noam Chomsky - 10 Strategies Of Manipulation')
            span.duration 06:05
            a(href='https://www.youtube.com/watch?v=EA-jtlV3VNs', target='_blank')
          article(title='What is Wrong With Our Culture [Alan Watts]')
            header
              .header-container
                h2 What is Wrong With Our Culture [Alan Watts]
            img(src='img-en/the-elite/What-is-Wrong-With-Our-Culture-Alan-Watts.png', alt='What is Wrong With Our Culture [Alan Watts]')
            span.duration 05:06
            a(href='https://www.youtube.com/watch?v=YMDu3JdQ8Ow', target='_blank')
          article(title='FACEBOOK is sucking your life!')
            header
              .header-container
                h2 FACEBOOK is sucking your life!
            img(src='img-en/the-elite/FACEBOOK-is-sucking-your-life.png', alt='FACEBOOK is sucking your life!')
            span.duration 08:09
            a(href='https://www.youtube.com/watch?v=yXwlcAILwFo', target='_blank')
          article(title='Brainwashing via TV')
            header
              .header-container
                h2 Brainwashing via TV
            img(src='img-en/the-elite/Brainwashing-via-TV.png', alt='Brainwashing via TV')
            span.duration 02:00
            a(href='https://www.youtube.com/watch?v=3Rc3FoOPT9Q', target='_blank')
          article(title='The truth about television and movies - brainwashing (Part 1)')
            header
              .header-container
                h2 The truth about television and movies - brainwashing (Part 1)
            img(src='img-en/the-elite/The-truth-about-television-and-movies-brainwashing-Part-1.png', alt='The truth about television and movies - brainwashing (Part 1)')
            span.duration 03:13
            a(href='https://www.youtube.com/watch?v=VtlvMnzZWko', target='_blank')
          p.finded-results No matches were found.
    #thanks
      p
        | Thanks 
        a(href='http://mazenl77.deviantart.com/', target='_blank') MazeNL77
        |  for the free search icon. Thanks man wrote this 
        a(href='http://blog.teamtreehouse.com/create-a-themable-button-set-with-sass', target='_blank') this article
        |  for the buttons, which I used for primary navigation. Thanks website 
        a(href='http://www.cnncd.com/includes-a-total-number-of-25-flag-languages-all-layers-can-be-separated-and-edited-within-clicks-free-world-flags-psd-file/', target='_blank') cnncd
        |  for free flags.
    script(type='text/javascript', src='scripts/jquery-1.11.3.min.js')
    //if lt IE 10
      script(type='text/javascript').
        $(function() {
        $('article').mouseover(function() {
        $(this).stop().animate({'opacity': '0.7'}, 400);
        });
        $('article').mouseout(function() {
        $(this).stop().animate({'opacity': '1'}, 400);
        });
        });
    script(type='text/javascript', src='scripts/main.js')
