doctype html
html
  head
    meta(charset='UTF-8')
    title Елитът
    link(rel='stylesheet', href='styles/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Какви са тези страннии знаци навсякъде? Илюминати, сатанисти, йезуити, рицари тамплиери - знаете ли кои са те и тяхната цел? Замисляли ли сте се за посланията в телевизията, филмите, детските и в музиката, която слушате? Знаете ли какво е HAARP?')
    meta(property='og:title', content='Тайни общества и планове')
    meta(property='og:site_name', content='LORD JESUS CHRIST')
    meta(property='og:url', content='http://lord-jesus.tk/the-elite-bg.html')
    meta(property='og:description', content='Какви са тези страннии знаци навсякъде? Илюминати, сатанисти, йезуити, рицари тамплиери - знаете ли кои са те и тяхната цел? Замисляли ли сте се за посланията в телевизията, филмите, детските и в музиката, която слушате?')
    meta(property='og:image', content='http://www.governmentsecrets.com/wp-content/uploads/2014/07/7-27-2014-10-38-35-AM-1200x673.jpg')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='scripts/respond.min.js')
      script(type='text/javascript', src='scripts/rem.min.js')
    //if IE
      style.
        body #wrapper #main-content-wrapper #main-content article a {
        background-color: #FFF;
        }
  body
    #wrapper
      header#main-header
        nav#main-nav
          ul
            li
              a.red.btn.the-holy-bible(href='http://bible.netbg.com/bible/paralel/bible.php?b=matthew&c=1&r=&v1=1&v2=25&vt=1&c5=1&st=&sa=1&rt=2&l=1&cm=2', target='_blank') БИБЛИЯ
            li
              a.blue.btn.videos(href='index.html') Видео
            li
              a.green.btn.movies(href='movies-bg.html') Филми
            li
              a.orange.btn.music(href='music-bg.html') Музика
            li
              a#current-page.purple.btn.music(href='the-elite-bg.html') Елитът
        #languages-and-searching
          #languages
            a#bulgarian.current-language(title='Bulgarian', href='the-elite-bg.html')
            a#english(title='English', href='the-elite-en.html')
          #search-field
            input#search(type='text')
            i#search-image(title='търси за дадено видео')
            .clear
          .clear  
      #main-content-wrapper
        #main-content.the-elite
          article(title='11 септември 2001г. вътрешна работа')
            header
              .header-container
                h2 11 септември 2001г. вътрешна работа
            img(src='img/the-elite/11-септември-2001-г-вътрешна-работа.jpg', alt='Кулите близнаци падат симтрично, майче.')
            span.duration 04:51
            a(href='http://www.vbox7.com/play:57e6c7cc', target='_blank')
          article(title='Истината такава, каквато е!')
            header
              .header-container
                h2 Истината такава, каквато е!
            img(src='img/the-elite/Истината-такава-каквато-е.jpg', alt='Човек, който се е вторачил в телевизор или монитор.')
            span.duration 01:59
            a(href='http://vbox7.com/play:261710ab17', target='_blank')
          article(title='ЕРАТА НА ИЗМАМАТА - Паднали ангели и Новият световен ред')
            header
              .header-container
                h2 ЕРАТА НА ИЗМАМАТА - Паднали ангели и Новият световен ред
            img(src='img-en/the-elite/AGE-OF-DECEIT-Fallen-Angels-and-the-New-World-Order.jpg', alt='Извънземно същество, което всъщност не е извънземно, а демон представящ се за светъл Ангел.')
            span.duration 02:31:32
            a(href='https://www.youtube.com/watch?v=MizrwNBQgEo', target='_blank')
          article(title='Сатанинската музикална индустрия - 1')
            header
              .header-container
                h2 Сатанинската музикална индустрия - 1
            img(src='img-en/the-elite/Satanic-Music-Industry-1.jpg', alt='John Todd изобличава тайните на сатанинската музика.')
            span.duration 15:14
            a(href='https://www.youtube.com/watch?v=Syl1fLkwOpo', target='_blank')
          article(title='Сатанинската музикална индустрия - 2')
            header
              .header-container
                h2 Сатанинската музикална индустрия - 2
            img(src='img-en/the-elite/Satanic-Music-Industry-2.jpg', alt='Водещата на предаването.')
            span.duration 04:39
            a(href='https://www.youtube.com/watch?v=z92pOzcJYWM', target='_blank')
          article(title='Как и защо Walt Disney се мъчи до опорочи децата ви')
            header
              .header-container
                h2 Как и защо Walt Disney се мъчи до опорочи децата ви
            img(src='img/videos/Walt-Disney-опорочава-децата-ви.jpg', alt='Как и защо Walt Disney се мъчи до опорочи децата ви')
            span.duration 09:06
            a(href='http://vbox7.com/play:bda0d0fb', target='_blank')
          article(title='Beyonce - духът на Луцифер')
            header
              .header-container
                h2 Beyonce - духът на Луцифер
            img(src='img/videos/Beyonce-духът-на-Луцифер.jpg', alt='Beyonce - духът на Луцифер')
            span.duration 11:08
            a(href='https://www.youtube.com/watch?v=rO8wCoV1vGg', target='_blank')
          article(title='Холивуд - науката за лъжата')
            header
              .header-container
                h2 Холивуд - науката за лъжата
            img(src='img/movies/Холивуд-науката-за-лъжата.jpg', alt='Холивуд - науката за лъжата')
            span.duration 01:28:47
            a(href='https://www.youtube.com/watch?v=3Fq_pKNXusc', target='_blank')
          article(title='Драконът разкрит')
            header
              .header-container
                h2 Драконът разкрит
            img(src='img/movies/Драконът-разкрит.png', alt='Драконът разкрит')
            span.duration 01:33:18
            a(href='https://www.youtube.com/watch?v=QrAaZyJITq4', target='_blank')
          article(title='Controller')
            header
              .header-container
                h2 Controller - БГ Субтитри
            img(src='img/movies/Controller.jpg', alt='Controller')
            span.duration 45:04
            a(href='https://www.youtube.com/watch?v=9DrFY634RvE', target='_blank')
          article(title='Подменените богове')
            header
              .header-container
                h2 Подменените богове
            img(src='img/movies/Подменените-богове.jpg', alt='Подменените богове')
            span.duration 01:42:53
            a(href='http://subs.freezoy.com/index.php?topic=233.0', target='_blank')
          article(title='Измамата Ню Ейдж. Демоничната същност на НЛО.')
            header
              .header-container
                h2 Измамата Ню Ейдж. Демоничната същност на НЛО.
            img(src='img/the-elite/Измамата-Ню-Ейдж-Демоничната-същност-на-НЛО.png', alt='Измамата Ню Ейдж. Демоничната същност на НЛО.')
            span.duration 02:16:20
            a(href='https://www.youtube.com/watch?v=wE6LoRwavCY', target='_blank')
          article(title="Hell's Bells 2: част 1")
            header
              .header-container
                h2 Hell's Bells 2: част 1/8
            img(src="img/movies/Hell's-Bells-2-1.jpg", alt="Hell's Bells 2: част 1")
            span.duration 10:00
            a(href='https://www.youtube.com/watch?v=PhNrl51Mfb4&list=PLF102DC21ACD278FF', target='_blank')
          article(title='Музикалната индустрия - Разкрита (част 1)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 1
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-1.png', alt='Музикалната индустрия разкрита - част 1')
            span.duration 10:32
            a(href='http://vbox7.com/play:41cda9be', target='_blank')
          article(title='Музикалната индустрия - Разкрита (част 2)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 2
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-2.png', alt='Музикалната индустрия разкрита - част 2')
            span.duration 10:31
            a(href='http://vbox7.com/play:d8a4dabd', target='_blank')
          article(title='Музикалната индустрия - Разкрита, кой е Rain Man? (част 3)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 3
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-3.png', alt='Музикалната индустрия разкрита - част 3')
            span.duration 10:59
            a(href='http://vbox7.com/play:3514e98d', target='_blank')
          article(title='Музикалната индустрия - Rain Man продължението (част 4)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 4
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-4.png', alt='Музикалната индустрия разкрита - част 4')
            span.duration 09:58
            a(href='http://vbox7.com/play:080c0391', target='_blank')
          article(title='Музикалната индустрия - нощта на дяволите! (част 5)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 5
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-5.png', alt='Музикалната индустрия разкрита - част 5')
            span.duration 10:51
            a(href='http://vbox7.com/play:45ec6301', target='_blank')
          article(title='Музикалната индустрия разкрита - Унищожаването на Dmx (част 6)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 6
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-6.png', alt='Музикалната индустрия разкрита - част 6')
            span.duration 11:00
            a(href='http://vbox7.com/play:4fc7316a', target='_blank')
          article(title='The Music Industry Exposed - The Michael Jackson Sacrifice (part 7)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 7
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-7.png', alt='Музикалната индустрия разкрита - част 7')
            span.duration 09:53
            a(href='http://vbox7.com/play:ec71b5b5', target='_blank')
          article(title='Музикалната Индустрия - Разкрита част 8')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 8
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-8.png', alt='Музикалната индустрия разкрита - част 8')
            span.duration 10:45
            a(href='http://vbox7.com/play:816df901', target='_blank')
          article(title='Музикалната индустрия - Разкрития - 9')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 9
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-9.png', alt='Музикалната индустрия разкрита - част 9')
            span.duration 10:37
            a(href='http://vbox7.com/play:37841f0614', target='_blank')
          article(title='Музикалната индустрия - Разкрита. Депресията на Еминем (част 10)')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 10
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-10.png', alt='Музикалната индустрия разкрита - част 10')
            span.duration 14:21
            a(href='http://vbox7.com/play:26aa8573', target='_blank')
          article(title='Музикалната индустрия - Разкрития - 11')
            header
              .header-container
                h2 Музикалната индустрия разкрита - част 11
            img(src='img/the-elite/музикалната-индустрия-разкрита-част-11.png', alt='Музикалната индустрия разкрита - част 11')
            span.duration 13:29
            a(href='http://vbox7.com/play:cb5349ef2e', target='_blank')
          article(title='Черни тайни от Бохемската гора - част 1')
            header
              .header-container
                h2 Черни тайни от Бохемската гора - част 1
            img(src='img-en/the-elite/Dark-Secrets-Inside-Bohemian-Grove-part-1.png', alt='Черни тайни от Бохемската гора - част 1')
            span.duration 42:15
            a(href='https://www.youtube.com/watch?v=0vNZbtl1nMg', target='_blank')
          article(title='Черни тайни от Бохемската гора - част 2')
            header
              .header-container
                h2 Черни тайни от Бохемската гора - част 2
            img(src='img-en/the-elite/Dark-Secrets-Inside-Bohemian-Grove-part-2.png', alt='Черни тайни от Бохемската гора - част 2')
            span.duration 49:26
            a(href='https://www.youtube.com/watch?v=WpMOGWCn5vk', target='_blank')
          article(title='1/10 Zeitgeist: Духът на времето разобличен')
            header
              .header-container
                h2 Zeitgeist разобличен: - част 1/10
            img(src='img/movies/Zeitgeist-Духът-на-времето-разобличен.jpg', alt='1/10 Zeitgeist: Духът на времето разобличен')
            span.duration 09:29
            a(href='https://www.youtube.com/watch?v=3-rs_IJBEOs', target='_blank')
          article(title='Бойно Поле Холивуд - част 1')
            header
              .header-container
                h2 Бойно Поле Холивуд - част 1
            img(src='img-en/the-elite/Battlefield-Hollywood-part-1.png', alt='Бойно Поле Холивуд - част 1')
            span.duration 53:31
            a(href='http://vbox7.com/play:e929c70813', target='_blank')
          article(title='Бойно Поле Холивуд - част 2')
            header
              .header-container
                h2 Бойно Поле Холивуд - част 2
            img(src='img-en/the-elite/Battlefield-Hollywood-part-2.png', alt='Бойно Поле Холивуд - част 2')
            span.duration 01:09:06
            a(href='http://vbox7.com/play:e181745f39', target='_blank')
          article(title='Бойно Поле Холивуд - част 3')
            header
              .header-container
                h2 Бойно Поле Холивуд - част 3
            img(src='img-en/the-elite/Battlefield-Hollywood-part-3.png', alt='Бойно Поле Холивуд - част 3')
            span.duration 58:48
            a(href='http://vbox7.com/play:aecef3073d', target='_blank')
          article(title='Бойно Поле Холивуд - част 4')
            header
              .header-container
                h2 Бойно Поле Холивуд - част 4
            img(src='img-en/the-elite/Battlefield-Hollywood-part-4.png', alt='Бойно Поле Холивуд - част 4')
            span.duration 01:13:41
            a(href='http://vbox7.com/play:49ec2283bd', target='_blank')
          article(title='Магическото царство')
            header
              .header-container
                h2 Магическото царство
            img(src='img-en/the-elite/Magic-kingdom.png', alt='Магическото царство')
            span.duration 59:01
            a(href='http://vbox7.com/play:9eae2444f2', target='_blank')
          article(title='ИЛЮМИНАТИ СИМВОЛИЗЪМ И САТАНИНСКИ ПОСЛАНИЯ ВЪВ АНИМАЦИОННИТЕ ФИЛМИ!')
            header
              .header-container
                h2 Илюминатски символизъм и сатанизъм в анимациите
            img(src='img/the-elite/Illuminati-symbolism-and-satanism-in-animation.png', alt='ИЛЮМИНАТИ СИМВОЛИЗЪМ И САТАНИНСКИ ПОСЛАНИЯ ВЪВ АНИМАЦИОННИТЕ ФИЛМИ!')
            span.duration 04:21
            a(href='https://www.youtube.com/watch?v=JiLp1zCCokI', target='_blank')
          article(title='Разкритите Ангели и демони (1/2)')
            header
              .header-container
                h2 Разкритите Ангели и демони (1/2)
            img(src='img/the-elite/Разкритите-Ангели-и-демони-част-1.png', alt='Разкритите Ангели и демони - част 1')
            span.duration 35:06
            a(href='http://vbox7.com/play:0e755fcc', target='_blank')
          article(title='Разкритите Ангели и демони (2/2)')
            header
              .header-container
                h2 Разкритите Ангели и демони (2/2)
            img(src='img/the-elite/Разкритите-Ангели-и-демони-част-2.png', alt='Разкритите Ангели и демони - част 2')
            span.duration 31:53
            a(href='http://vbox7.com/play:5710e3c2', target='_blank')
          article(title='Илюминати - Само конспирация, без теории (1/2)')
            header
              .header-container
                h2 Илюминати - Само конспирация, без теории (1/2)
            img(src='img/the-elite/Илюминати-Само-конспирация-без-теории-част-1.png', alt='Илюминати - Само конспирация, без теории (част 1)')
            span.duration 44:22
            a(href='http://vbox7.com/play:75c0cb3b18', target='_blank')
          article(title='Илюминати - Само конспирация, без теории (2/2)')
            header
              .header-container
                h2 Илюминати - Само конспирация, без теории (2/2)
            img(src='img/the-elite/Илюминати-Само-конспирация-без-теории-част-2.png', alt='Илюминати - Само конспирация, без теории (част 2)')
            span.duration 70:01
            a(href='http://vbox7.com/play:b74da36509', target='_blank')
          article(title='Илюминати СИСТЕМАТА НА ЗВЯРА')
            header
              .header-container
                h2 Илюминати СИСТЕМАТА НА ЗВЯРА
            img(src='img/the-elite/Илюминати-СИСТЕМАТА-НА-ЗВЯРА.png', alt='Илюминати СИСТЕМАТА НА ЗВЯРА')
            span.duration 15:00
            a(href='https://www.youtube.com/watch?v=tHyORMjxCHw', target='_blank')
          article(title='Отвори очите си за света! Илюминати! Нов Световен Ред!')
            header
              .header-container
                h2 Отвори очите си за света! Илюминати! Нов Световен Ред!
            img(src='img-en/the-elite/Open-your-eyes-to-the-world!-Illuminati!-New-world-order!.png', alt='Отвори очите си за света! Илюминати! Нов Световен Ред!')
            span.duration 03:16
            a(href='https://www.youtube.com/watch?v=CjoFXEUN-H8', target='_blank')
          article(title='ХЕЛОУИН - ДРЕВЕН ИЛЮМИНАТИ САТАНИСТКИ РИТУАЛ!!')
            header
              .header-container
                h2 ХЕЛОУИН - ДРЕВЕН ИЛЮМИНАТИ САТАНИСТКИ РИТУАЛ!!
            img(src='img/the-elite/ХЕЛОУИН-ДРЕВЕН-ИЛЮМИНАТИ-САТАНИСТКИ-РИТУАЛ.png', alt='ХЕЛОУИН - ДРЕВЕН ИЛЮМИНАТИ САТАНИСТКИ РИТУАЛ!!')
            span.duration 09:03
            a(href='https://www.youtube.com/watch?v=wk9eGdEUX7E', target='_blank')
          article(title='Lil Wayne - Обичат ме като сатана')
            header
              .header-container
                h2 Lil Wayne - Обичат ме като сатана
            img(src='img-en/the-elite/Lil-Wayne-Love-Me-like-satan.png', alt='Lil Wayne - Обичат ме като сатана')
            span.duration 03:59
            a(href='https://www.youtube.com/watch?v=XZHW3xKEieM', target='_blank')
          article(title='Пазете Се!! Антон Ла Вей - обяснява знакът на дявола с ръце')
            header
              .header-container
                h2 Антон Ла Вей - обяснява знакът на дявола с ръце
            img(src='img-en/the-elite/ANTON-LAVEY-EXPLAINS-HORNS-AND-HAND-SIGNS-FOR-EVIL.png', alt='Пазете Се!! Антон Ла Вей - обяснява знакът на дявола с ръце')
            span.duration 01:19
            a(href='http://vbox7.com/play:56d39c2dd6', target='_blank')
          article(title='SARAFA - ILLUMINATI (ИЛЮМИНАТИ)')
            header
              .header-container
                h2 SARAFA - ILLUMINATI (ИЛЮМИНАТИ)
            img(src='img/the-elite/SARAFA-ILLUMINATI.png', alt='SARAFA - ILLUMINATI (ИЛЮМИНАТИ)')
            span.duration 04:27
            a(href='https://www.youtube.com/watch?v=s8voWgWkJCc', target='_blank')
          article(title='Фермата на животните')
            header
              .header-container
                h2 Фермата на животните
            img(src='img/the-elite/Фермата-на-животните.png', alt='Фермата на животните')
            span.duration 01:09:27
            a(href='https://www.youtube.com/watch?v=L4-xaSFT20A', target='_blank')
          article(title='убедително доказателство че самолетите от 9/11 не са истински')
            header
              .header-container
                h2 убедително доказателство че самолетите от 9/11 не са истински
            img(src='img/the-elite/убедително-доказателство-че-самолетите-от-9.11-не-са-истински.png', alt='убедително доказателство че самолетите от 9/11 не са истински')
            span.duration 19:28
            a(href='http://vbox7.com/play:b4d1557d5b', target='_blank')
          article(title='КАКВО РАЗПРЪСКВАТ НАД СВЕТА?')
            header
              .header-container
                h2 КАКВО РАЗПРЪСКВАТ НАД СВЕТА?
            img(src='img/the-elite/КАКВО-РАЗПРЪСКВАТ-НАД-СВЕТА.png', alt='КАКВО РАЗПРЪСКВАТ НАД СВЕТА?')
            span.duration 01:37:32
            a(href='https://www.youtube.com/watch?v=zWHjxE_8cYwb', target='_blank')
          article(title='Satanic Music Industry (Част 1)')
            header
              .header-container
                h2 Satanic Music Industry (Част 1)
            img(src='img/the-elite/сатанинска-музикална-индустрия-1.png', alt='Satanic Music Industry (Част 1)')
            span.duration 15:14
            a(href='https://www.youtube.com/watch?v=Syl1fLkwOpo', target='_blank')
          article(title='Satanic Music Industry (Част 2)')
            header
              .header-container
                h2 Satanic Music Industry (Част 2)
            img(src='img/the-elite/сатанинска-музикална-индустрия-2.png', alt='Satanic Music Industry (Част 2)')
            span.duration 04:39
            a(href='https://www.youtube.com/watch?v=z92pOzcJYWM', target='_blank')
          article(title='Да си припомним защо убиха Джон Кенеди')
            header
              .header-container
                h2 Да си припомним защо убиха Джон Кенеди
            img(src='img/the-elite/Да-си-припомним-защо-убиха-Джон-Кенеди.png', alt='Да си припомним защо убиха Джон Кенеди')
            span.duration 05:05
            a(href='https://www.youtube.com/watch?v=DscPoif46J8', target='_blank')
          article(title='РЕЧТА НА ДЖОН КЕНЕДИ ОТНОСНО ТАЙНИТЕ ОБЩЕСТВА 1')
            header
              .header-container
                h2 РЕЧТА НА ДЖОН КЕНЕДИ ОТНОСНО ТАЙНИТЕ ОБЩЕСТВА 1
            img(src='img/the-elite/РЕЧТА-НА-ДЖОН-КЕНЕДИ-ОТНОСНО-ТАЙНИТЕ-ОБЩЕСТВА-1.png', alt='РЕЧТА НА ДЖОН КЕНЕДИ ОТНОСНО ТАЙНИТЕ ОБЩЕСТВА 1')
            span.duration 09:55
            a(href='https://www.youtube.com/watch?v=wquWHPo_mec', target='_blank')
          article(title='РЕЧТА НА ДЖОН КЕНЕДИ ОТНОСНО ТАЙНИТЕ ОБЩЕСТВА 2')
            header
              .header-container
                h2 РЕЧТА НА ДЖОН КЕНЕДИ ОТНОСНО ТАЙНИТЕ ОБЩЕСТВА 2
            img(src='img/the-elite/РЕЧТА-НА-ДЖОН-КЕНЕДИ-ОТНОСНО-ТАЙНИТЕ-ОБЩЕСТВА-2.png', alt='РЕЧТА НА ДЖОН КЕНЕДИ ОТНОСНО ТАЙНИТЕ ОБЩЕСТВА 2')
            span.duration 09:16
            a(href='https://www.youtube.com/watch?v=TuhO03Kej_I', target='_blank')
          article(title="Джулиан Асанж: 'Всички сте прецакани.'")
            header
              .header-container
                h2 Джулиан Асанж: "Всички сте прецакани."
            img(src='img/the-elite/Джулиан-Асанж-Всички-сте-прецакани.png', alt="Джулиан Асанж: 'Всички сте прецакани.'")
            span.duration 01:05
            a(href='https://www.youtube.com/watch?v=Wg5f4cdVf_Q', target='_blank')
          article(title='Влиянието на телевизията')
            header
              .header-container
                h2 Влиянието на телевизията
            img(src='img/the-elite/Влиянието-на-телевизията.png', alt='Влиянието на телевизията')
            span.duration 02:49
            a(href='https://www.youtube.com/watch?v=qw5kn8Qx2q4', target='_blank')
          article(title='Все още ли вярвате, че сте свободни?')
            header
              .header-container
                h2 Все още ли вярвате, че сте свободни?
            img(src='img/the-elite/Все-още-ли-вярвате-че-сте-свободни.png', alt='Все още ли вярвате, че сте свободни?')
            span.duration 11:46
            a(href='https://www.youtube.com/watch?v=7CSrJqhZ5b8', target='_blank')
          article(title='Как телевизията влияе на мозъка ни')
            header
              .header-container
                h2 Как телевизията влияе на мозъка ни
            img(src='img/the-elite/Как-телевизията-влияе-на-мозъка-ни.png', alt='Как телевизията влияе на мозъка ни')
            span.duration 03:43
            a(href='https://www.youtube.com/watch?v=uAW9sLGuKEM', target='_blank')
          article(title='10 начина за манипулиране с помощта на медиите')
            header
              .header-container
                h2 10 начина за манипулиране с помощта на медиите
            img(src='img/the-elite/10-начина-за-манипулиране-с-помощта-на-медиите.png', alt='10 начина за манипулиране с помощта на медиите')
            span.duration 05:40
            a(href='https://www.youtube.com/watch?v=Bez7sUw8Jwg', target='_blank')
          article(title='Какво не е наред с културата ни?')
            header
              .header-container
                h2 Какво не е наред с културата ни?
            img(src='img/the-elite/Какво-не-е-наред-с-културата-ни.png', alt='Какво не е наред с културата ни?')
            span.duration 05:06
            a(href='https://www.youtube.com/watch?v=urPweWxIDV8', target='_blank')
          article(title='FACEBOOK смуче живота ви!')
            header
              .header-container
                h2 FACEBOOK смуче живота ви!
            img(src='img/the-elite/FACEBOOK-смуче-живота-ви.png', alt='FACEBOOK смуче живота ви!')
            span.duration 08:09
            a(href='https://www.youtube.com/watch?v=yXwlcAILwFo', target='_blank')
          article(title='Какво знаеш за Модерния Свят?')
            header
              .header-container
                h2 Какво знаеш за Модерния Свят?
            img(src='img/the-elite/Какво-знаеш-за-Модерния-Свят.png', alt='Какво знаеш за Модерния Свят?')
            span.duration 07:34
            a(href='https://www.youtube.com/watch?v=hzf9Du1TYOM', target='_blank')
          article(title='Как ни зомбират чрез ТВ')
            header
              .header-container
                h2 Как ни зомбират чрез ТВ
            img(src='img/the-elite/Как-ни-зомбират-чрез-ТВ.png', alt='Как ни зомбират чрез ТВ')
            span.duration 02:00
            a(href='https://www.youtube.com/watch?v=GhwaWY4DH3Y', target='_blank')
          article(title='Истината за телевизията и филмите - промиване на мозъци (Част 1)')
            header
              .header-container
                h2 Истината за телевизията и филмите - промиване на мозъци (Част 1)
            img(src='img/the-elite/Истината-за-телевизията-и-филмите-промиване-на-мозъци-Част-1.png', alt='Истината за телевизията и филмите - промиване на мозъци (Част 1)')
            span.duration 03:13
            a(href='https://www.youtube.com/watch?v=VtlvMnzZWko', target='_blank')
          p.finded-results Не бяха открити съвпадения с въведените ключови думи.
    #thanks
      p
        | Благодаря на 
        a(href='http://mazenl77.deviantart.com/', target='_blank') MazeNL77
        |  за безплатната икона за търсене.
        | 		Благодаря на човека написал 
        a(href='http://blog.teamtreehouse.com/create-a-themable-button-set-with-sass', target='_blank') тази статия
        |  за бутоните, които използвах за главната навигация.
        | 		Благодаря на уебсайта 
        a(href='http://www.cnncd.com/includes-a-total-number-of-25-flag-languages-all-layers-can-be-separated-and-edited-within-clicks-free-world-flags-psd-file/', target='_blank') cnncd
        |  за безплатните национални флагове.
    script(type='text/javascript', src='scripts/jquery-1.11.3.min.js')
    //if lt IE 10
      script(type='text/javascript').
        $(function() {
        $('article').mouseover(function() {
        $(this).stop().animate({'opacity': '0.7'}, 400);
        });
        $('article').mouseout(function() {
        $(this).stop().animate({'opacity': '1'}, 400);
        });
        });
    script(type='text/javascript', src='scripts/main.js')