footer
	.social-network
		a(href="https://www.facebook.com/regalhomerenovations", target="_blank")
			img(src="img/facebook.png", alt="Facebook", width="32", height="32")
		a(href="https://twitter.com/h_regal", target="_blank")
			img(src="img/twitter.png", alt="Twitter", width="33", height="32")
	ul.site-navigation
		li
			a(href="home.html") Home
			|<span>&nbsp;|</span> 
		li
			a(href="about.html") About
			|<span>&nbsp;|</span>
		li
			a(href="contact.html") Contact
			|<span>&nbsp;|</span>
		li
			a(href="services.html") Services
	a(class="cards" href="http://www.merchantequip.com/information-center/credit-card-logos/" target="_blank")
		img(src="https://www.merchantequip.com/image/?logos=v|m|a|d|p&height=64" alt="Merchant Equipment Store Credit Card Logos")
	a(class="cards-small" href="http://www.merchantequip.com/information-center/credit-card-logos/" target="_blank")
		img(src="https://www.merchantequip.com/image/?logos=v|m|a|d|p&height=32" alt="Merchant Equipment Store Credit Card Logos")
	small 2016 &copy; Regal Home Renovations. All rights reserved.