header
	p.discount 50% off first job!
	p.discount 50% off first job!
	.logo-nav-and-tel
		.wrapper
			h1: a(href="home.html")
				img(src="img/regal-home-renovation.png", alt="Regal Renovation", width="290", height="140")
			nav
				ul
					li
						a(href="home.html") Home
						|<span>&nbsp;|</span>
					li
						a(href="about.html") About
						|<span>&nbsp;|</span>
					li
						a(href="contact.html") Contact
						|<span>&nbsp;|</span>
					li
						a(href="services.html") Services
			.tel-wrapper
				a(href="tel:07730463693" class="tel") 07730463693
	img(src="img/kitchen-larger.jpg", alt="A kitchen with a modern fridge, stove and several cabinets", width="1600", height="500", class="kitchen-larger")
	img(src="img/kitchen-smaller.jpg", alt="A kitchen with a modern fridge, stove and several cabinets", width="800", height="341", class="kitchen-smaller")
	img(src="img/kitchen-smallest.jpg", alt="A kitchen with a modern fridge, stove and several cabinets", width="540", height="230", class="kitchen-smallest")
	img(src="img/kitchen-smallest2.jpg", alt="A kitchen with a modern fridge, stove and several cabinets", width="450", height="192", class="kitchen-smallest2")