doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		header
			include jade/logo-and-nav
			.main-part
				h2 We have what it takes to take your website to the 
					span new height of success
				a(href="") Get started here
				//- multiple background - color + Layer 21.png
				img(src="img/cover.png" alt="You design, we code and the result is -  your coded design")
		main
			section.additional-info
				div
					//- background-image: Layer 26.png; padding-left: ...;
					h3 Save big with us
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				div
					//- background-image: Layer 25.png; padding-left: ...;
					h3 Always on time
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				div
					//- background-image: Layer 24.png; padding-left: ...;
					h3 Contact Us
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			section.about-us
				div.who-we-are
					h2 Who we are?
					img(src="img/Layer8.png" alt="" width="" height="")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius. Donec nec vestibulum ligula. Aenean turpis diam, feugiat a luctus in, rhoncus eget risus. Maecenas consequat porttitor dui, vitae consequat massa imperdiet ut. Elit ut tempus lobortis, eros leo molestie velit, non egestas augue nulla eget erat.
					a(class="read-more", href="#") Read more
				div.what-we-do
					h2 What we do?
					img(src="img/Layer9.png" alt="" width="" height="")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius. Donec nec vestibulum ligula. Aenean turpis diam, feugiat a luctus in, rhoncus eget risus. Maecenas consequat porttitor dui, vitae consequat massa imperdiet ut.
					ul
						li
							a(href="#") Website Design
						li
							a(href="#") Blog Design
						li
							a(href="#") Branding design
				div.why-hire-us
					h2 Why hire us?
					img(src="img/Layer10.png" alt="" width="" height="")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius. Donec nec vestibulum ligula. Aenean turpis diam, feugiat a luctus in, rhoncus eget risus. Maecenas consequat porttitor dui, vitae consequat massa imperdiet ut. Elit ut tempus lobortis, eros leo molestie velit, non egestas augue nulla eget erat.
					a(class="read-more" href="#") Read more
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")