doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		header
			include jade/logo-and-nav
			.main-part
				h2 Portfolio
				ul
					li
						a(href="#") Web Design
					li
						a(href="#") Blog Design
					li
						a(href="#") Logos
					li
						a(href="#") Print Works
					li
						a(href="#") Graphics
		main
			.projects
				article
					a(href="#")
						img(src="img/Layer 36.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 42.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 39.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 40.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 41.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 43.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 44.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 45.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
				article
					a(href="#")
						img(src="img/Layer 39.png" alt="" width="" height="")
					h3 Lorem ipsum dolor sit amet
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio corporis, beatae natus, reprehenderit illum quis vitae minima facilis quibusdam animi.
			.nav-projects
				ul
					li
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") 4
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")