doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		header
			include jade/logo-and-nav
			.main-part
				h2 Our Services
				h3 We are best in what we do. Check out our services.
		main
			.services
				section
					h2 Website Design
					a(href="")
						img(src="img/Layer36.png", alt="", width="", height="")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime velit incidunt, similique quod maiores, libero praesentium nobis quam fugiat nemo molestias, minima in. Cupiditate officiis porro eaque dicta necessitatibus. Amet laborum aspernatur ducimus sed ut omnis accusamus voluptas. Doloribus!
					a(class="portfolio" href="#") Portfolio
					a(class="hire-us" href="#") Hire us now
				section
					h2 Logo &amp; Branding
					a(href="")
						img(src="img/Layer38.png", alt="", width="", height="")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime velit incidunt, similique quod maiores, libero praesentium nobis quam fugiat nemo molestias, minima in. Cupiditate officiis porro eaque dicta necessitatibus. Amet laborum aspernatur ducimus sed ut omnis accusamus voluptas. Doloribus!
					a(class="portfolio" href="#") Portfolio
					a(class="hire-us" href="#") Hire us now
				section
					h2 Blog Development
					a(href="")
						img(src="img/Layer39.png", alt="", width="", height="")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime velit incidunt, similique quod maiores, libero praesentium nobis quam fugiat nemo molestias, minima in. Cupiditate officiis porro eaque dicta necessitatibus. Amet laborum aspernatur ducimus sed ut omnis accusamus voluptas. Doloribus!
					a(class="portfolio" href="#") Portfolio
					a(class="hire-us" href="#") Hire us now
				section
					h2 Print Design
					a(href="")
						img(src="img/Layer36.png", alt="", width="", height="")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime velit incidunt, similique quod maiores, libero praesentium nobis quam fugiat nemo molestias, minima in. Cupiditate officiis porro eaque dicta necessitatibus. Amet laborum aspernatur ducimus sed ut omnis accusamus voluptas. Doloribus!
					a(class="portfolio" href="#") Portfolio
					a(class="hire-us" href="#") Hire us now
				section
					h2 SEO (Search Engine Optimization)
					a(href="")
						img(src="img/Layer38.png", alt="", width="", height="")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime velit incidunt, similique quod maiores, libero praesentium nobis quam fugiat nemo molestias, minima in. Cupiditate officiis porro eaque dicta necessitatibus. Amet laborum aspernatur ducimus sed ut omnis accusamus voluptas. Doloribus!
					a(class="portfolio" href="#") Portfolio
					a(class="hire-us" href="#") Hire us now
				section
					h2 Social Media Marketing
					a(href="")
						img(src="img/Layer39.png", alt="", width="", height="")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime velit incidunt, similique quod maiores, libero praesentium nobis quam fugiat nemo molestias, minima in. Cupiditate officiis porro eaque dicta necessitatibus. Amet laborum aspernatur ducimus sed ut omnis accusamus voluptas. Doloribus!
					a(class="portfolio" href="#") Portfolio
					a(class="hire-us" href="#") Hire us now
			section.our-benefits
				h2 Our Benefits
				//- <p>s - background-image: Layer 41.png; padding-left
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis dicta, aperiam molestias rerum dolores, blanditiis magnam laborum sapiente, dolore harum ratione vel esse, ad!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis dicta, aperiam molestias rerum dolores, blanditiis magnam laborum sapiente, dolore harum ratione vel esse, ad!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis dicta, aperiam molestias rerum dolores, blanditiis magnam laborum sapiente, dolore harum ratione vel esse, ad!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis dicta, aperiam molestias rerum dolores, blanditiis magnam laborum sapiente, dolore harum ratione vel esse, ad!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis dicta, aperiam molestias rerum dolores, blanditiis magnam laborum sapiente, dolore harum ratione vel esse, ad!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis dicta, aperiam molestias rerum dolores, blanditiis magnam laborum sapiente, dolore harum ratione vel esse, ad!
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")