/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i, cite, em, var, address, dfn {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

body {
  border: 2px solid #000;
  font-family: sans-serif;
}

/* header */
header {
  position: relative;
}

header > .discount, form > .discount {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: blur 1.75s ease-out infinite;
  -moz-animation: blur 1.75s ease-out infinite;
  -o-animation: blur 1.75s ease-out infinite;
  animation: blur 1.75s ease-out infinite;
  position: absolute;
}

header > .discount:first-child {
  top: 250px;
  left: 20px;
  font-size: 50px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  text-shadow: 0px 50px 0px #FF0000, 0px 3px 7px #FF0000;
}

header > .discount:nth-child(2) {
  top: 250px;
  right: 20px;
  font-size: 50px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  text-shadow: 0px 50px 0px #FF0000, 0px 3px 7px #FF0000;
}

.kitchen-larger {
  display: block;
  width: 100%;
  height: auto;
}

.kitchen-smaller, .kitchen-smallest, .kitchen-smallest2 {
  display: none;
}

.logo-nav-and-tel {
  width: 100%;
  padding: 5px 10px 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.wrapper {
  height: 95px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: relative;
}

.wrapper h1, .wrapper nav, .wrapper .tel-wrapper {
  display: inline-block;
}

.wrapper h1 {
  width: 24.7%;
  position: relative;
  top: -46px;
  text-align: left;
}

.wrapper h1 a {
  display: inline-block;
}

.wrapper h1 img {
  display: block;
}

.wrapper .tel-wrapper {
  width: 24.7%;
  position: relative;
  top: -100px;
  text-align: right;
}

.wrapper .tel {
  text-decoration: none;
  color: #6a2525;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 2px;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.wrapper .tel:hover {
  color: #000;
}

nav {
  width: 49.7%;
  position: relative;
  bottom: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 35px;
  line-height: 42px;
  color: #6a2525;
  letter-spacing: 2px;
}

nav li a {
  text-decoration: none;
  color: #6a2525;
}

@-webkit-keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 10px 100px #7B96B8;
  }
}

@-moz-keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 10px 100px #7B96B8;
  }
}

@-o-keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 10px 100px #7B96B8;
  }
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 10px 100px #7B96B8;
  }
}

@media (max-width: 1430px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    font-size: 45px;
  }
}

@media (max-width: 1380px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    font-size: 40px;
  }
}

@media (max-width: 1330px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    top: 225px;
    font-size: 35px;
  }
}

@media (max-width: 1215px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    top: 225px;
    font-size: 30px;
    text-shadow: 0px 35px 0px #FF0000, 0px 3px 7px #FF0000;
  }
}

@media (max-width: 1130px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    top: 200px;
    font-size: 35px;
    text-shadow: 0px 35px 0px #FF0000, 0px 3px 7px #FF0000;
  }
  header > .discount:first-child {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  header > .discount:nth-child(2) {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

@media (max-width: 1015px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    top: 155px;
    font-size: 32px;
  }
  header > .discount:first-child {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
  header > .discount:nth-child(2) {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (max-width: 1150px) {
  .wrapper {
    height: 82px;
  }
  .wrapper h1 {
    top: -41px;
  }
  .wrapper h1 img {
    width: 250px;
    height: auto;
  }
  .wrapper .tel-wrapper {
    width: 21.7%;
    top: -90px;
    right: 5px;
  }
  .wrapper .tel-wrapper a {
    font-size: 30px;
  }
  nav {
    width: 52.7%;
    bottom: 54px;
  }
  nav li {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (max-width: 1030px) {
  .logo-nav-and-tel {
    top: 35px;
  }
  .wrapper {
    height: 77px;
  }
  .wrapper h1 {
    width: 30%;
    top: -39px;
  }
  .wrapper h1 img {
    width: 235px;
  }
  .wrapper nav {
    width: 69%;
    padding-left: 6%;
    padding-right: 0;
    text-align: left;
    bottom: 50px;
  }
  .wrapper nav li {
    font-size: 28px;
    line-height: 35px;
  }
  .wrapper .tel-wrapper {
    position: absolute;
    top: 5px;
    right: 15px;
  }
  .wrapper .tel-wrapper a {
    font-size: 26px;
  }
}

@media (max-width: 800px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    top: 65px;
    font-size: 30px;
  }
  header > .discount:first-child {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  header > .discount:nth-child(2) {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  .logo-nav-and-tel {
    top: auto;
    bottom: -80px;
    background-color: #FFF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .wrapper {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .wrapper h1 {
    width: auto;
    left: -10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFF;
    position: absolute;
    top: -112px;
  }
  .wrapper h1 a {
    padding: 8px 10px;
    display: block;
  }
  .wrapper h1 a img {
    width: 180px;
  }
  .wrapper nav {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    bottom: 0;
    text-align: center;
  }
  .wrapper .tel-wrapper {
    width: auto;
    padding: 5px 10px;
    background-color: #FFF;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    top: -43px;
    right: -10px;
  }
  .wrapper .tel-wrapper a {
    font-size: 26px;
  }
  .kitchen-larger {
    display: none;
  }
  .kitchen-smaller {
    display: block;
    width: 100%;
    height: auto;
  }
  main {
    margin-top: 80px;
  }
}

@media (max-width: 720px) {
  header > .discount:first-child, header > .discount:nth-child(2) {
    top: 40px;
    font-size: 22px;
    text-shadow: 0px 25px 0px #FF0000, 0px 3px 7px #FF0000;
  }
}

@media (max-width: 650px) {
  .wrapper h1 {
    top: -97px;
  }
  .wrapper h1 a img {
    width: 150px;
  }
  .wrapper .tel-wrapper {
    top: -40px;
  }
  .wrapper .tel-wrapper a {
    font-size: 23px;
  }
}

@media (max-width: 540px) {
  header > .discount:first-child {
    width: 100%;
    left: 0;
    text-align: center;
    top: 75px;
    font-size: 21px;
    text-shadow: 0px 23px 0px #FF0000, 0px 3px 7px #FF0000;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
  header > .discount:nth-child(2) {
    display: none;
  }
  .logo-nav-and-tel {
    bottom: -76px;
  }
  .wrapper h1 {
    top: -98px;
    left: 50%;
    margin-left: -85px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .wrapper nav ul li {
    font-size: 23px;
    line-height: 30px;
  }
  .wrapper nav ul li + li {
    padding-left: 23px;
  }
  .wrapper nav ul li span {
    display: none;
  }
  .wrapper .tel-wrapper {
    top: -205px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .wrapper .tel-wrapper a {
    font-size: 23px;
  }
  .kitchen-smaller {
    display: none;
  }
  .kitchen-smallest {
    display: block;
    width: 100%;
    height: 230px;
  }
  main {
    margin-top: 76px;
  }
}

@media (max-width: 466px) {
  header > .discount:first-child {
    top: 50px;
  }
}

@media (max-width: 462px) {
  .wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .wrapper h1 {
    margin-left: -67px;
    top: -90px;
  }
  .wrapper h1 a img {
    width: 134px;
  }
  .wrapper nav ul li {
    line-height: 40px;
  }
  .wrapper nav ul li:last-child {
    margin-top: 12px;
  }
  .wrapper .tel-wrapper {
    top: -190px;
  }
}

@media (max-width: 288px) {
  header > .discount:first-child {
    text-align: center;
    top: 32px;
    font-size: 18px;
    text-shadow: 0px 23px 0px #FF0000, 0px 3px 7px #FF0000;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
  header > .discount:nth-child(2) {
    display: none;
  }
  .wrapper nav ul li:nth-child(3) {
    margin-top: 12px;
  }
  .wrapper .tel-wrapper {
    top: -155px;
  }
}

nav li:last-child > a {
  font-weight: bold;
  color: #333;
}

/* main */
main {
  padding: 2.5%;
  background-color: #a8a7a4;
  overflow: hidden;
}

main h1 {
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
  font-style: italic;
  font-family: serif;
  font-weight: bold;
}

.border-bottom {
  border-bottom: 3px solid #000;
}

.rates-wrapper {
  margin-bottom: 25px;
  padding: 0.5% 1.5% 1.5%;
  background: #D8D8D7;
  background: -webkit-linear-gradient(#dfdfde, #cbcbca);
  background: -moz-linear-gradient(#dfdfde, #cbcbca);
  background: -o-linear-gradient(#dfdfde, #cbcbca);
  background: linear-gradient(#dfdfde, #cbcbca);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #000;
}

.rates-wrapper > h2 {
  font-size: 50px;
  font-family: serif;
  margin-bottom: 60px;
  text-align: center;
  font-style: italic;
}

.rates {
  overflow: hidden;
}

.info {
  width: 57%;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.info h2 {
  margin-bottom: 60px;
  padding-left: 90px;
  font-size: 45px;
}

.info p {
  font-size: 30px;
  line-height: 40px;
}

.info div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.info .discount {
  color: #EF0606;
  font-weight: bold;
}

.info .bold {
  font-weight: bold;
}

.photos {
  width: 43%;
  padding-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 2px solid #000;
  float: left;
}

.photos > img {
  width: 100%;
}

.first-two {
  margin-bottom: 6%;
}

.first-two img {
  width: 47%;
}

.first-two img:first-child {
  margin-right: 6%;
}

.before-and-after h2 {
  font-size: 60px;
  font-style: italic;
  font-family: serif;
  font-weight: bold;
  text-align: center;
}

.before-and-after h2 span {
  padding-bottom: 5px;
}

.before-and-after .before {
  margin-bottom: 25px;
  padding: 0.5% 1.5% 1.5%;
  background: #D8D8D7;
  background: -webkit-linear-gradient(#dfdfde, #cbcbca);
  background: -moz-linear-gradient(#dfdfde, #cbcbca);
  background: -o-linear-gradient(#dfdfde, #cbcbca);
  background: linear-gradient(#dfdfde, #cbcbca);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  overflow: hidden;
}

.before-and-after .before h2 {
  margin-bottom: 40px;
}

.before-and-after .before .column-one {
  width: 36%;
  border-right: 2px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.before-and-after .before .column-one img {
  width: 90%;
}

.before-and-after .before .column-two {
  width: 64%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  float: left;
}

.before-and-after .before .column-two img {
  width: 90%;
}

.before-and-after .after {
  padding: 0.5% 1.5% 1.5%;
  background: #D8D8D7;
  background: -webkit-linear-gradient(#dfdfde, #cbcbca);
  background: -moz-linear-gradient(#dfdfde, #cbcbca);
  background: -o-linear-gradient(#dfdfde, #cbcbca);
  background: linear-gradient(#dfdfde, #cbcbca);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  text-align: center;
  overflow: hidden;
}

.before-and-after .after h2 {
  margin-bottom: 40px;
}

.before-and-after .after img {
  width: 100%;
}

.before-and-after .after .column-one {
  width: 50%;
  padding-left: 9.3%;
  padding-right: 6%;
  border-right: 2px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.before-and-after .after .column-two {
  width: 50%;
  padding-left: 6%;
  padding-right: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.photos img,
.first-two img,
.before-and-after .before .column-one img,
.before-and-after .before .column-two img,
.before-and-after .after img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
}

/* footer */
footer {
  background-color: #9c7240;
  background-image: url(../img/crown.png);
  background-repeat: no-repeat;
  background-position: 1.4% 42%;
  border-top: 2px solid #000;
  overflow: hidden;
  position: relative;
  height: 90px;
}

footer li {
  display: inline-block;
  font-size: 25px;
}

footer li a {
  text-decoration: none;
  color: #000;
}

small {
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.social-network, .site-navigation, small {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.social-network {
  position: absolute;
  top: 50%;
  margin-top: -17.5px;
  left: 100px;
}

.social-network a:hover > img {
  opacity: 0.7;
}

.social-network a + a {
  margin-left: 20px;
}

.site-navigation {
  position: absolute;
  top: 50%;
  margin-top: -12.5px;
  margin-left: -184px;
  left: 50%;
}

.cards, .cards-small {
  position: absolute;
  top: -5px;
  right: 15px;
}

.cards-small {
  display: none;
}

@media (max-width: 1380px) {
  small {
    width: 285px;
    text-align: right;
    line-height: 21px;
    right: 20px;
    bottom: 14px;
  }
  .cards {
    display: none;
  }
  .cards-small {
    display: inline-block;
    top: -2px;
    right: 15px;
    position: absolute;
  }
}

@media (max-width: 1180px) {
  footer {
    height: 145px;
    background-position: 15px 15px;
  }
  .social-network {
    top: 30px;
    left: 50%;
    margin-left: -37.5px;
  }
  .social-network a + a {
    margin-left: 10px;
  }
  .site-navigation {
    top: 77px;
  }
  small {
    width: 100%;
    bottom: 15px;
    text-align: center;
    right: 0;
  }
  .cards {
    right: 2px;
    display: none;
  }
  .cards-small {
    top: 10px;
    display: inline-block;
  }
}

@media (max-width: 1000px) {
  .cards {
    display: none;
  }
  .cards-small {
    display: inline-block;
    top: 7px;
  }
}

@media (max-width: 850px) {
  .cards {
    display: none;
  }
  .cards-medium {
    display: inline-block;
    height: 53px;
    top: 5px;
    right: 15px;
    left: auto;
  }
}

@media (max-width: 650px) {
  footer {
    height: 205px;
    -webkit-background-size: 50px;
    -moz-background-size: 50px;
    -o-background-size: 50px;
    background-size: 50px;
  }
  .social-network {
    top: 83px;
  }
  .site-navigation {
    top: 135px;
  }
  .cards-small {
    top: 3px;
    right: 4px;
  }
}

@media (max-width: 490px) {
  footer {
    height: 365px;
    background-position: 50% 60px;
  }
  footer li {
    font-size: 23px;
    line-height: 37px;
  }
  footer li + li {
    margin-left: 15px;
  }
  footer li:last-child {
    margin-top: 12px;
    margin-left: 0;
  }
  footer li a {
    color: #f2f2f2;
  }
  footer li span {
    display: none;
  }
  .social-network {
    top: 125px;
  }
  .site-navigation {
    width: 100%;
    margin-left: 0;
    padding: 10px 18%;
    top: 175px;
    left: 0;
    text-align: center;
    border-top: 7px solid #FFF;
    border-bottom: 2px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  small {
    padding-right: 6%;
    padding-left: 6%;
    line-height: 23px;
  }
  .cards-small {
    right: auto;
    left: 5px;
  }
}

@media (max-width: 435px) {
  small {
    padding-left: 6%;
    padding-right: 6%;
  }
  .cards-medium {
    display: none;
  }
  .cards-small {
    width: 80px;
    height: auto;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

@media (max-width: 395px) {
  footer li:nth-child(3) {
    margin-left: 0;
  }
  footer li:last-child {
    margin-left: 15px;
  }
  .site-navigation {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 332px) {
  .site-navigation {
    padding-right: 14%;
    padding-left: 14%;
  }
}

@media (max-width: 316px) {
  footer {
    height: 380px;
  }
  small {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 285px) {
  footer {
    height: 420px;
  }
  footer li:nth-child(3) {
    margin-top: 12px;
  }
  footer li:last-child {
    margin-right: 15px;
  }
}

@media (max-width: 1350px) {
  .rates-wrapper,
  .before-and-after > .before,
  .before-and-after > .after {
    padding: 1.5% 3% 5%;
  }
}

@media (max-width: 1175px) {
  .rates-wrapper {
    padding: 1.5% 4% 5%;
  }
  .info {
    width: 53%;
    border-right: 2px solid #000;
  }
  .info h2 {
    font-size: 42px;
  }
  .info div {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .info p {
    font-size: 27px;
    line-height: 37px;
  }
  .photos {
    width: 47%;
    border-left-width: 0;
  }
  .before-and-after > .before,
  .before-and-after > .after {
    padding: 1.5% 4% 5%;
  }
}

@media (max-width: 1030px) {
  main h1 {
    font-size: 55px;
  }
  .rates-wrapper > h2 {
    font-size: 45px;
  }
  .info h2 {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .info p {
    font-size: 25px;
    line-height: 33px;
  }
  .info div {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .before-and-after h2 {
    font-size: 55px;
  }
}

@media (max-width: 980px) {
  main {
    padding: 5%;
  }
  .rates-wrapper {
    padding: 2.5% 6% 6%;
  }
  .rates-wrapper > h2 {
    margin-bottom: 60px;
  }
  .info {
    width: auto;
    margin-bottom: 30px;
    padding-right: 0;
    text-align: center;
    border-right-width: 0;
    float: none;
  }
  .info h2 {
    margin-bottom: 35px;
    padding-left: 0;
  }
  .photos {
    width: auto;
    padding-left: 0;
    float: none;
  }
}

@media (max-width: 700px) {
  .rates-wrapper {
    padding: 6% 10%;
  }
  .rates-wrapper h1 {
    font-size: 45px;
  }
  .rates-wrapper h1 span {
    border-bottom-width: 2px;
  }
  .rates-wrapper > h2 {
    margin-bottom: 50px;
    font-size: 35px;
  }
  .before-and-after > .before {
    padding-left: 5%;
    padding-right: 5%;
  }
  .before-and-after > .after {
    padding-left: 5%;
    padding-right: 5%;
  }
  .before-and-after h2 span {
    border-bottom-width: 2px;
  }
  .info h2 {
    margin-bottom: 25px;
  }
  .info p {
    font-size: 23px;
    line-height: 30px;
  }
}

@media (max-width: 545px) {
  .info p {
    font-size: 21px;
    line-height: 26px;
  }
}

@media (max-width: 500px) {
  .info p {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0;
    background: #D8D8D7;
    background: -webkit-linear-gradient(#dfdfde, #cbcbca);
    background: -moz-linear-gradient(#dfdfde, #cbcbca);
    background: -o-linear-gradient(#dfdfde, #cbcbca);
    background: linear-gradient(#dfdfde, #cbcbca);
  }
  .rates-wrapper,
  .before-and-after > .before,
  .before-and-after > .after {
    border-width: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-image: none;
  }
  .before-and-after > .before > .column-one,
  .before-and-after > .after > .column-one {
    border-right-width: 0;
  }
  .rates-wrapper > h2 {
    margin-bottom: 40px;
  }
  .rates-wrapper {
    margin-bottom: 0;
    padding: 50px 8% 40px;
    border-bottom: 5px solid #000;
  }
  .rates-wrapper h1 {
    font-size: 35px;
    line-height: 35px;
  }
  .rates-wrapper h2 {
    font-size: 26px;
  }
  .info h2 {
    margin-bottom: 20px;
  }
  .info div {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .before-and-after {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .before-and-after .before {
    margin-bottom: 0;
    padding-top: 0;
  }
  .before-and-after h2 {
    font-size: 35px;
  }
}

@media (max-width: 410px) {
  .info p {
    font-size: 19px;
    line-height: 24px;
  }
}

@media (max-width: 385px) {
  .info p {
    font-size: 18px;
    line-height: 23px;
  }
  .dash-and-space {
    display: none;
  }
}

@media (max-width: 355px) {
  .info .bold {
    display: block;
  }
  .services p + p {
    margin-top: 15px;
  }
}
