doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		include jade/header
		main
			ul.page-navigation
				li: a(href="#") Home
				li: a(href="#") Blog
			section
				h2 About us
				section.what-we-do
					img(src="", alt="", width="", height="")
					.text-content
						h3 What we do
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae rerum quibusdam voluptate, ut ipsam aspernatur in quo? Corrupti molestias earum accusamus libero, nesciunt incidunt provident! Architecto, odit. Quam eveniet rem ea velit cumque ratione veniam, atque asperiores quidem! Harum, impedit. Voluptatum quos sed provident, quibusdam, illo odio harum corporis nostrum!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas iste culpa hic eveniet quasi autem minus natus itaque totam nobis mollitia cumque atque soluta, sapiente facere veritatis fugiat id suscipit accusantium magnam quae temporibus. Quaerat enim sunt totam, nemo magnam a aliquid eum iusto iure, ullam voluptas, maxime est cumque quam quas alias consequatur explicabo officiis atque debitis dolorem quasi.
				section.team
					h3 Our team
					.person
						img(src="", alt="", width="", height="")
						p.name Peter Martins
						p.profession CEO, Co-Founder
					.person
						img(src="", alt="", width="", height="")
						p.name Maria Matters
						p.profession Co-Founder
					.person
						img(src="", alt="", width="", height="")
						p.name Ashley Martins
						p.profession Account Manager
					.person
						img(src="", alt="", width="", height="")
						p.name Charles Perrault
						p.profession Account Manager
				section.history
					h3 Our history
					div
						time 2002
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga unde delectus nisi ut provident, beatae eum id, reprehenderit voluptate a cupiditate assumenda quod quam perferendis deleniti obcaecati omnis libero, illum vero, numquam magni porro.
					div
						time 2007
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga unde delectus nisi ut provident, beatae eum id, reprehenderit voluptate a cupiditate assumenda quod quam perferendis deleniti obcaecati omnis libero, illum vero, numquam magni porro.
					div
						time 2009
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga unde delectus nisi ut provident, beatae eum id, reprehenderit voluptate a cupiditate assumenda quod quam perferendis deleniti obcaecati omnis libero, illum vero, numquam magni porro.
					div
						time 2010
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga unde delectus nisi ut provident, beatae eum id, reprehenderit voluptate a cupiditate assumenda quod quam perferendis deleniti obcaecati omnis libero, illum vero, numquam magni porro.
					div
						time 2012
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga unde delectus nisi ut provident, beatae eum id, reprehenderit voluptate a cupiditate assumenda quod quam perferendis deleniti obcaecati omnis libero, illum vero, numquam magni porro.
					div
						time 2013
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga unde delectus nisi ut provident, beatae eum id, reprehenderit voluptate a cupiditate assumenda quod quam perferendis deleniti obcaecati omnis libero, illum vero, numquam magni porro.
				section.about
					section
						span.icon.map
						h3 Rout Selection
						p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
					section
						span.icon.help
						h3 24/7 Support
						p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
					section
						span.icon.earth
						h3 Wide Choice
						p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
					section
						span.icon.plane
						h3 Buy Tickets
						p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")