doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		include jade/header
		main
			ul.page-navigation
				li: a(href="#") Home
				li: a(href="#") Blog
			.blog-posts-wrapper
				article.blog-post
					h2 Popular Destinations
					time(datetime="2015-03-16") 16 March 2015
					p At the end of 2013, I started leading group trips. I've done four so far and have really enjoyed them. I like meeting readers, exposing others to my travel style and taking them arround to some of my favorite places in Europe. I want others to fail in love with the places that made me love travel so much.
					a(href="#")
						img(src="img/blog-pic1.png", alt="A cyclist rides in a rocky place.", width="694", height="463")
					h2 Stakeholders donation Action Against Hunger cross-agency coordination meaningful Bill and Melinda Gates life-saving.
					p New tools have emerged to address the challenges of responsive web design - tools such as Adobe Reflow and the recently released Macaw. Today, we'll look at one that I have tested extensively in the last few months. Though not perfect, it's been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop and Fireworks.
					a(href="#") Read More
				article.blog-post
					h2 Everything You Need to Know About Using Smartphones When You Travel
					time(datetime="2015-03-12") 12 March 2015
					a(href="#")
						img(src="img/blog-pic.png", alt="Sunset on the beach and surf on the sand.", width="694", height="463")
					h2 Stakeholders donation Action Against Hunger cross-agency coordination meaningful Bill and Melinda Gates life-saving.
					p New tools have emerged to address the challenges of responsive web design - tools such as Adobe Reflow and the recently released Macaw. Today, we'll look at one that I have tested extensively in the last few months. Though not perfect, it's been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop and Fireworks.
					a(href="#") Read More
				article.blog-post
					h2 12 Things Not to Do When You Travel
					time(datetime="2015-03-10") 10 March 2015
					p At the end of 2013, I started leading group trips. I've done four so far and have really enjoyed them. I like meeting readers, exposing others to my travel style and taking them arround to some of my favorite places in Europe. I want others to fail in love with the places that made me love travel so much.
					a(href="#")
						img(src="img/blog-layer1.png", alt="Wheel Spinning.", width="694", height="463")
					h2 Stakeholders donation Action Against Hunger cross-agency coordination meaningful Bill and Melinda Gates life-saving.
					p New tools have emerged to address the challenges of responsive web design - tools such as Adobe Reflow and the recently released Macaw. Today, we'll look at one that I have tested extensively in the last few months. Though not perfect, it's been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop and Fireworks.
					a(href="#") Read More
				ul.blog-posts-navigation
					li: a(href="#") 1
					li: a(href="#") 2
					li: a(href="#") 3
					li: a(href="#") 4
					li: a(href="#") 5
					li: a(href="#") 6
					li: a(href="#") 7
			aside
				section
					h3 Categories
					ul
						li: a(href="") Eurasia for your tips
						li: a(href="") North America and USA
						li: a(href="") South America and Japan
						li: a(href="") Australia &amp; Antarctica
				section
					h3 Archives
					ul
						li: a(href="") September 2014
						li: a(href="") August 2014
						li: a(href="") July 2014
						li: a(href="") March 2014
						li: a(href="") February 2014
				section
					h3 Recent Posts
					article
						h4 My Group Tours: Two Trips to Europe!
						p At the end of 2013, I started leading group trips. I've done four so far and have really enjoyed them. I like meeting readers...
						footer
							time(datetime="2015-03-14") 14 March 2015
					article
						h4 Everything You Need to Know About Using Smartphones When You Travel
						p On the first Tuesday of each month, Dave Dean from Too Many Adapters gives us tips and advice on travel tech and gear. He is our resident...
						footer
							time(datetime="2015-03-14") 14 March 2015
					article
						h4 What Makes a Nomad a Nomad?
						p At the end of 2013, I started leading group trips. I've done four so far and have really enjoyed them. I like meeting readers...
						footer
							time(datetime="2015-03-14") 14 March 2015
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")