doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		include jade/header
		main
			ul.page-navigation
				li: a(href="#") Home
			section
				h1 Gallery of TripWay
				ul.continents-navigation
					li: a(href="#") Europe
					li: a(href="#") Africa
					li: a(href="#") North America
					li: a(href="#") South America
					li: a(href="#") Australia
				article
					a(href="#")
						img(src="img/gallery-layer5.png", alt="Long two-storey building with a long narrow road and a lot of chairs and tables around him, and little bushes.", width="560", height="374")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Melbourne
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
				article
					a(href="#")
						img(src="img/galler-layer6.png", alt="Shortly roader among the plane.", width="565", height="375")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Westminster
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
				article
					a(href="#")
						img(src="img/pic7.png", alt="Long two-storey building with a long narrow road and a lot of chairs and tables around him, and little bushes.", width="364", height="243")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Melbourne
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
				article
					a(href="#")
						img(src="img/destination-pic.png", alt="High and large modern buildings.", width="364", height="243")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Chicago
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
				article
					a(href="#")
						img(src="img/destination-pic2.png", alt="Signboard with the inscription: WELCOME TO COLORFUL COLORADO.", width="364", height="243")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Westminster
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
				article
					a(href="#")
						img(src="img/gallery-pic3.png", alt="Long two-storey building with a long narrow road and a lot of chairs and tables around him, and little bushes.", width="266", height="178")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Melbourne
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris.
				article
					a(href="#")
						img(src="img/gallery-pic2.png", alt="High and large modern buildings.", width="266", height="178")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Chicago
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris.
				article
					a(href="#")
						img(src="img/gallery-pic1.png", alt="Signboard with the inscription: WELCOME TO COLORFUL COLORADO.", width="266", height="178")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 Webminster
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris.
				article
					a(href="#")
						img(src="img/gallery-pic.png", alt="Traffic and blurred taxi caught in the frame.", width="266", height="178")
						img(src="img/search.png", alt="magnifying glass", width="49", height="49")
					h3 New York
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris.
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")