doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		include jade/header
		main
			.places-slider
				a(href="#", class="left")
					.arrow
						img(src="img/left.png", alt="left arrow", width="24", height="39")
					//- мястото, което се намира веднъж наляво, когато се цъкне лявата стрелка
					img(src="img/.png", alt="", width="", height="")
				a(href="#", class="right")
					.arrow
						img(src="img/right.png", alt="right arrow", width="24", height="39")
					//- мястото, което се намира веднъж надясно, когато се цъкне дясната стрелка
					img(src="img/pic4.png", alt="Narrow streets and narrow houses.", width="200", height="122")
				figure
					a(href="#"): img(src="img/pic8.png", alt="A big bridge over the river. Barren hills and few trees on the other side of the bridge.", width="1400", height="1050")
					figcaption
						h3 San Francisco
						p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium sem feugiat. Duis sem est, viverra eu interdum.
						a(href="#") More About This
			section.about
				h2 Advice For Everyone
				p Vestibulum liero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nib Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vesum ante ipsum primis in faucibus orci luctus et ultrices posuere cubisse sollicitudin velit sed leo. Uh pharetra augue nec auguem elit magna.
				section
					span.icon.map
					h3 Rout Selection
					p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
				section
					span.icon.help
					h3 24/7 Support
					p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
				section
					span.icon.earth
					h3 Wide Choice
					p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
				section
					span.icon.plane
					h3 Buy Tickets
					p Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duls sem feugiat.
			.contact-us
				p You need to make a difficult route for advice?
				a(href="/contacts.html") Contact Us For This
			section.popular-destinations
				article
					a(href="#")
						img(src="img/destination-pic7.png", alt="Long two-storey building with a long narrow road and a lot of chairs and tables around him, and little bushes.", width="364", height="243")
						p Go to Trip Page
					h3 Melbourne
					span from 1400$
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#") More About This
				article
					a(href="#")
						img(src="img/destination-pic.png", alt="High and large modern buildings.", width="364", height="243")
						p Go to Trip Page
					h3 Chicago
					span from 900$
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#") More About This
				article
					a(href="#")
						img(src="img/destination-pic2.png", alt="Signboard with the inscription: WELCOME TO COLORFUL COLORADO", width="364", height="243")
						p Go to Trip Page
					h3 Westminster
					span from 1200$
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#") More About This
				article
					a(href="#")
						img(src="img/destination-layer1.png", alt="Buildings built on water.", width="365", height="324")
						p Go to Trip Page
					h3 Venesia
					span from 1600$
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#") More About This
				article
					a(href="#")
						img(src="img/destination-pic1.png", alt="Traffic and blurred taxi caught in the frame.", width="364", height="243")
						p Go to Trip Page
					h3 New York
					span from 1700$
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#") More About This
				article
					a(href="#")
						img(src="img/destination-layer2.png", alt="Port and boat, ship on it and the city behind it.", width="364", height="243")
						p Go to Trip Page
					h3 Istanbul
					span from 1300$
					p Fermentum tortor hon enim aliquet mauris del condementum. Nam alliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#") More About This
			section.subscribe
				h3 Love discounts? Subscribe to newsletter!
				form
					input(type="email", name="email", placeholder="Your email")
					input(type="submit", value="Subscribe")
			section.testimonials
				h2 Testimonials
				.person
					.image-and-info
						img(src="img/img.png", alt="A desk and a keyboard and a thinking guy in front of them.", width="187", height="126")
						p Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerissque nisl vitae sceler sique. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
					strong Marco Polo, partner sales.
				.person
					.image-and-info
						img(src="img/pic2.png", alt="A scowling man who eats.", width="146", height="116")
						p Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerissque nisl vitae sceler sique. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
					strong Marco Polo, partner sales.
				.person
					.image-and-info
						img(src="img/pic1.png", alt="A frowning woman.", width="187", height="145")
						p Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerissque nisl vitae sceler sique. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
					strong Marco Polo, partner sales.
				.person
					.image-and-info
						img(src="img/pic.png", alt="A man playing the guitar.", width="186", height="146")
						p Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerissque nisl vitae sceler sique. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
					strong Marco Polo, partner sales.
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")