doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		include jade/header
		main
			ul.page-navigation
				li: a(href="#") Home
			section.testimonials
				h1 Testimonials
				.testimonials-wrapper
					//- padding-left: ...; background-image: img/img.png;
					blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ab blanditiis in beatae doloremque vel praesentium eum, sit qui molestiae. Ducimus excepturi itaque, nihil doloribus possimus incidunt voluptatum libero animi quos, quasi sit, rerum harum facilis esse facere optio laboriosam! Unde quidem ut obcaecati excepturi eum iure quisquam nostrum odit deserunt vitae, aut harum reiciendis, a! Dolorem dolor sunt minus obcaecati nam, officia consequatur neque deserunt assumenda inventore, eos quibusdam, ut qui quidem temporibus ipsum!
						footer
							cite Marco Polo 
							| Manager / <a href="#">demolink.org</a>
					//- padding-left: ...; background-image: img/pic2.png;
					blockquote
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ab blanditiis in beatae doloremque vel praesentium eum, sit qui molestiae. Ducimus excepturi itaque, nihil doloribus possimus incidunt voluptatum libero animi quos, quasi sit, rerum harum facilis esse facere optio laboriosam! Unde quidem ut obcaecati excepturi eum iure quisquam nostrum odit deserunt vitae, aut harum reiciendis, a! Dolorem dolor sunt minus obcaecati nam, officia consequatur neque deserunt assumenda inventore, eos quibusdam, ut qui quidem temporibus ipsum!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam et veniam porro nobis, asperiores assumenda eaque molestiae provident odit! Dolorum.
						footer
							cite Lisa Whistler 
							| Consultant / <a href="#">demolink.org</a>
					//- padding-left: ...; background-image: img/pic1.png;
					blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ab blanditiis in beatae doloremque vel praesentium eum, sit qui molestiae. Ducimus excepturi itaque, nihil doloribus possimus incidunt voluptatum libero animi quos, quasi sit, rerum harum facilis esse facere optio laboriosam! Unde quidem ut obcaecati excepturi eum iure quisquam nostrum odit deserunt vitae, aut harum reiciendis, a! Dolorem dolor sunt minus obcaecati nam, officia consequatur neque deserunt assumenda inventore, eos quibusdam, ut qui quidem temporibus ipsum!
						footer
							cite Marco Polo 
							| Manager / <a href="#">demolink.org</a>
					//- padding-left: ...; background-image: img/pic.png;
					blockquote
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ab blanditiis in beatae doloremque vel praesentium eum, sit qui molestiae. Ducimus excepturi itaque, nihil doloribus possimus incidunt voluptatum libero animi quos, quasi sit, rerum harum facilis esse facere optio laboriosam! Unde quidem ut obcaecati excepturi eum iure quisquam nostrum odit deserunt vitae, aut harum reiciendis, a! Dolorem dolor sunt minus obcaecati nam, officia consequatur neque deserunt assumenda inventore, eos quibusdam, ut qui quidem temporibus ipsum!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam et veniam porro nobis, asperiores assumenda eaque molestiae provident odit! Dolorum.
						footer
							cite Lisa Whistler 
							| Consultant / <a href="#">demolink.org</a>
				aside
					section
						h2 Categories
						ul
							li: a(href="") Eurasia for your tips
							li: a(href="") North America and USA
							li: a(href="") South America and Japan
							li: a(href="") Australia &amp; Antarctica
					section
						h2 Archives
						ul
							li: a(href="") September 2014
							li: a(href="") August 2014
							li: a(href="") July 2014
							li: a(href="") March 2014
							li: a(href="") February 2014
					section
						h2 Recent Posts
						article
							h3 My Group Tours: Two Trips to Europe!
							p At the end of 2013, I started leading group trips. I've done four so far and have really enjoyed them. I like meeting readers...
							footer
								time(datetime="2015-03-14") 14 March 2015
						article
							h3 Everything You Need to Know About Using Smartphones When You Travel
							p On the first Tuesday of each month, Dave Dean from Too Many Adapters gives us tips and advice on travel tech and gear. He is our resident...
							footer
								time(datetime="2015-03-14") 14 March 2015
						article
							h3 What Makes a Nomad a Nomad?
							p At the end of 2013, I started leading group trips. I've done four so far and have really enjoyed them. I like meeting readers...
							footer
								time(datetime="2015-03-14") 14 March 2015
		include jade/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")