@import pieces/reset
@import pieces/main-header

/* content */
#content
	margin-bottom: 10px
#articles-wrapper
	width: 960px
	margin-left: auto
	margin-right: auto
	text-align: center
	overflow: hidden
article
	width: 225px
	margin-bottom: 65px
	float: left
	& + &
		margin-left: 20px
	p
		height: 90px
		margin-bottom: 25px
		color: #757575
		font-size: 14px
	li
		display: inline-block
		& + li
			margin-left: 15px
#fifth
	margin-left: 0
img
	margin-bottom: 20px
h2
	margin-bottom: 20px
	font-size: 18px
	font-weight: bold
.social-media
	width: 17px
	height: 14px
	display: inline-block
	&:hover
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
		/* IE 5-7 */
		filter: alpha(opacity=50)
		/* Netscape */
		-moz-opacity: 0.5
		/* Safari 1.x */
		-khtml-opacity: 0.5
		/* Good browsers */
		opacity: 0.5
.twitter
	background-image: url(../img/social-media/twitter-person.png)
.facebook
	background-image: url(../img/social-media/facebook-person.png)
.google-plus
	background-image: url(../img/social-media/google-plus-person.png)
.pinterest
	background-image: url(../img/social-media/pinterest-person.png)

@import pieces/main-footer