header
	h1
		a(href="/")
			img(src="img/Duckfiles.png", alt="Duckfiles.com", width="248", height="86")
	nav
		ul
			li: a(href="/") Portfolio
			li: a(href="about.html") About
			li: a(href="services.html") Services
			li: a(href="get-in-touch.html") Get in touch
			li: a(href="testimonials.html") Testimonials