header
	.contacts-and-social-media
		.email-and-number
			//- ::before { background-image: envelope.png }
			a(href="mailto:info@tripway.com") INFO@TRIPWAY.COM
			//- ::before { background-image: telephone.png }
			a(href="tel:3212334567") +321 233 4567
		ul.social-media
			li: a(href="#")
					img(src="../img/Facebook.png" alt="Facebook" width="11" height="17")
			li: a(href="#")
					img(src="../img/p.png" alt="Pinterest" width="14" height="18")
			li: a(href="#")
					img(src="../img/Twitter.png" alt="Twitter" width="19" height="16")
			li: a(href="#")
					img(src="../img/Vimeo.png" alt="Vimeo" width="20" height="18")
			li: a(href="#")
					img(src="../img/Instagram.png" alt="Instagram" width="19" height="19")
			li: a(href="#")
					img(src="../img/Google.png" alt="Google Plus" width="19" height="18")
	.logo-and-navigation
		h1: a(href="#")
			img(src="../img/Logo.png" alt="TripWay" width="157" height="38")
		nav: ul
			li: a(href="/home.html") Home
			li: a(href="/about.html") About
			li: a(href="/destinations.html") Destinations
			li: a(href="/gallery.html") Gallery
			li: a(href="/blog.html") Blog
			li: a(href="/contacts.html") Contacts