footer
	.navigation-and-social-media
		nav: ul
			li: a(href="/home.html") Home
			li: a(href="/about.html") About
			li: a(href="/destinations.html") Destinations
			li: a(href="/gallery.html") Gallery
			li: a(href="/blog.html") Blog
			li: a(href="/contacts.html") Contacts
		ul.social-media
			li: a(href="#")
					img(src="img/Facebook.png" alt="Facebook" width="11" height="17")
			li: a(href="#")
					img(src="img/p.png" alt="Pinterest" width="14" height="18")
			li: a(href="#")
					img(src="img/Twitter.png" alt="Twitter" width="19" height="16")
			li: a(href="#")
					img(src="img/Vimeo.png" alt="Vimeo" width="20" height="18")
			li: a(href="#")
					img(src="img/Instagram.png" alt="Instagram" width="19" height="19")
			li: a(href="#")
					img(src="img/Google.png" alt="Google Plus" width="19" height="18")
	.contacts-and-license
		address St Stephen's House, Colston Ave, Bristol BS1 4ST, UK / Telephone:
			a(href="tel:18006036035") +1 800 603 6035
		small &copy; TripWay - Material UI Template.