doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Professional Business Template
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", type="text/css", href="styles/style.css")
	//- background-image: url(img/background.jpg);
	body
		include parts/header
		main
			.services
				section.web-design
					img(src="img/layout.png", alt="website layout example", width="156", height="156")
					.content
						h2 Web design
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque natus dignissimos ab cumque optio delectus cupiditate perspiciatis vero possimus obcaecati dicta tempora beatae, magnam, maiores aperiam recusandae esse. Laudantium.
						a(href="#") Place an order
							//- float: left; margin-right: ...;
							span.arrow-background
								//- background-image: img/arrow-right.png;
								span.arrow-right
				section.web-development
					img(src="img/machine-parts.png", alt="two parts of a machine", width="156", height="156")
					.content
						h2 Web development
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi atque natus dignissimos ab cumque optio delectus cupiditate perspiciatis vero possimus obcaecati dicta tempora beatae, magnam, maiores aperiam recusandae esse. Laudantium.
						a(href="#") Place an order
							//- float: left; margin-right: ...;
							span.arrow-background
								//- background-image: img/arrow-right.png;
								span.arrow-right
				.links
					a(href="#") Lorem ipsum dolor sit amet
						//- float: left; margin-right: ...;
						span.arrow-background
							//- background-image: img/arrow-right.png;
							span.arrow-right
					a(href="#") LSed facilisis accumsan nisi
						//- float: left; margin-right: ...;
						span.arrow-background
							//- background-image: img/arrow-right.png;
							span.arrow-right
					a(href="#") Consectetuer adipiscing elit nunc
						//- float: left; margin-right: ...;
						span.arrow-background
							//- background-image: img/arrow-right.png;
							span.arrow-right
					a(href="#") Ut mattis libero quis sapien
						//- float: left; margin-right: ...;
						span.arrow-background
							//- background-image: img/arrow-right.png;
							span.arrow-right
			aside
				h2 Special offer
				a(href="#"): img(src="img/minus-25-percent.png", alt="minus 25 percent", width="201", height="182")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repellendus vitae illum asperiores sequi! Nihil facilis dicta ipsa ipsum, odit, minus dolor sit repudiandae! Ratione?
				a(href="#") Get in touch
					//- float: left; margin-right: ...;
					span.arrow-background
						//- background-image: img/arrow-right.png;
						span.arrow-right
		include parts/footer
		//- script(type="text/javascript", src="js/jquery-1.11.3.min.js")
		//- script(type="text/javascript", src="js/")