footer
	nav
		h2 Browse Site
		ul
			li
				a(href="") About out company
			li
				a(href="") Contact us
			li
				a(href="") Our Portfolio
			li
				a(href="") Our Prices
			li
				a(href="") Online quote form
			li
				a(href="") Client Testimonials
	section.our-testimonials
		h2 Our Testimonials
		blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius. Donec nec vestibulum ligula. Aenean turpis diam, feugiat a luctus in, moncus eget risus. Maecenas consequat porttitor dui, vitae consequat massa imperdiet ut. Elit ut tempus lobortis, eros leo molestie velit.
			cite Rafi, Graphics Fuel.com
	section.from-our-blog
		h2 From Our Blog
		article
			time(datetime="2010-07-06") July 6, 2010
			h3
				a(href="#") Lorem ipsum dolor sit amet, consectetur
			p Lorem ispum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius.
		article
			time(datetime="2010-07-06") July 6, 2010
			h3
				a(href="#") Lorem ipsum dolor sit amet, consectetur
			p Lorem ispum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius.
	div.copyright-and-social-media
		//- background-image: Layer 34.png
		small Copyright &copy; 2010 Business. All rights reserved. Designed by GraphicFuel.com
		ul.social-media
			li
				a(href="#")
					img(src="img/Layer28.png" alt="" width="" height="")
			li
				a(href="#")
					img(src="img/Layer29.png" alt="" width="" height="")
			li
				a(href="#")
					img(src="img/Layer30.png" alt="" width="" height="")