.number
	span.headphone
	p 123-456-7890
.logo-nav
	h1
		a(href="#")
			img(src="img/Logo.png", alt="B", width="42" height="31")
			//- vertical-align: middle
			| BUSINESS
			br
			span Your business caption here
	nav
		ul
			li
				a(href="#") Home
			li
				a(href="#") About
			li
				a(href="#") Services
			li
				a(href="#") Portfolio
			li
				a(href="#") Contact